@model SqzEvent.Models.BreakdownReport

<div class="navbar">
    <div class="navbar-inner">
        <div class="left">
            <a href="#" class="back link">
                <i class="icon icon-back" aria-hidden="true"></i>
                <span>返回</span>
            </a>
        </div>
        <div class="center sliding"><strong>新增故障报告</strong></div>
        <div class="right">
            <a href="javascript:;" class="link" id="addbreakdown-submit">提交</a>
        </div>
    </div>
</div>
<div class="pages">
    <div class="page" data-page="addbreakdown">
        <div class="page-content">
            @using (Html.BeginForm("AddBreakdown", "QualityControl", FormMethod.Post, new { @id = "addbreakdown-form", @class = "validate-form" }))
            {
                @Html.AntiForgeryToken()
                @Html.HiddenFor(m => m.Status)
                @Html.HiddenFor(m => m.Id)
                @Html.HiddenFor(m => m.QCStaffId)
                <div class="content-block-title">新增故障报告</div>
                <div class="list-block">
                    <ul>
                        <li>
                            <a href="#" class="item-link smart-select" data-back-text="返回" data-back-on-select="true" data-searchbar-placeholder="选择工厂" data-searchbar-cancel="取消" id="factory-select">
                                @Html.DropDownList("FactoryId", ViewBag.FactoryDropDown as SelectList, "- 请选择 -", new{@class="required"})
                                <div class="item-content">
                                    <div class="item-inner">
                                        <div class="item-title">选择工厂</div>
                                        <div class="item-after">- 请选择 -</div>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="#" class="item-link smart-select" data-back-text="返回" data-back-on-select="true" data-searchbar-placeholder="选择设备" data-searchbar-cancel="取消" id="equipment-select">
                                <select id="QCEquipmentId" name="QCEquipmentId" class = "required">
                                    <option>- 请选择 -</option>
                                </select>
                                <div class="item-content">
                                    <div class="item-inner">
                                        <div class="item-title">选择设备</div>
                                        <div class="item-after">- 请选择 -</div>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="#" class="item-link smart-select" data-back-text="返回" data-back-on-select="true" data-searchbar-placeholder="故障类型" data-searchbar-cancel="取消" id="breakdowntype-select">
                                <select id="BreakDownTypeId" name="BreakDownTypeId" class ="required">
                                    <option>- 请选择 -</option>
                                </select>
                                <div class="item-content">
                                    <div class="item-inner">
                                        <div class="item-title">故障类型</div>
                                        <div class="item-after">- 请选择 -</div>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li>
                            <div class="item-content">
                                <div class="item-inner">
                                    <div class="item-title label">故障时间</div>
                                    <div class="item-input">
                                        <input type="text" class="item-input-right" id="BreakDownTimeTiny" name="BreakDownTimeTiny" placeholder="故障时间" />
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="item-content">
                                <div class="item-inner">
                                    <div class="item-title">上传照片</div>
                                    <div class="item-after"><abbr id="addbreakdown-imgcount">0</abbr>/7</div>
                                </div>
                            </div>
                            <div class="item-content middle-content">
                                <div class="item-inner">
                                    <div class="hidden">
                                        @Html.TextBoxFor(m => m.Photos, new { @class = "photos" })
                                    </div>
                                    <ul class="rep-imglist" id="addbreakdown-photos"></ul>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="item-content middle-content">
                                @Html.TextAreaFor(m => m.ReportContent, new { placeholder = "请输入故障备注", required = "required", maxlength = "200"})
                            </div>
                            <div class="item-content">
                                <div class="item-inner">
                                    <div class="item-title"></div>
                                    <div class="item-after"><span id="addbreakdown-currentlen">0</span>/<span>200</span></div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            }
        </div>
    </div>
</div>
