@model SqzEvent.Models.QualityTest

<div class="navbar">
    <div class="navbar-inner">
        <div class="left">
            <a href="#" class="back link">
                <i class="icon icon-back" aria-hidden="true"></i>
                <span>返回</span>
            </a>
        </div>
        <div class="center sliding">新增产品检验</div>
        <div class="right">
            <a href="javascript:;" class="link color-gray" id="addqualitytest-submit">提交</a>
        </div>
    </div>
</div>
<div class="pages">
    <div class="page" data-page="addqualitytest" id="addqualitytest">
        <div class="page-content">
            @using (Html.BeginForm("AddQualityTest", "QualityControl", FormMethod.Post, new { @id = "addqualitytest-form", @class = "validate-form" }))
            {
                @Html.AntiForgeryToken()
                @Html.HiddenFor(model => model.Id)
                @Html.HiddenFor(model => model.QCStaffId)
                @Html.HiddenFor(model => model.EvalScore)
                @Html.HiddenFor(model => model.EvalResult)
                <div class="list-block">
                    <ul>
                        <li>
                            <a href="#" class="item-link smart-select" data-back-text="返回" data-back-on-select="true" data-searchbar-cancel="取消" id="factory-select">
                                @Html.DropDownList("FactoryId", ViewBag.FactoryDropDown as SelectList, "- 请选择 -", new{@class="required" })
                                <div class="item-content">
                                    <div class="item-inner">
                                        <div class="item-title">选择工厂</div>
                                        <div class="item-after">- 请选择 -</div>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li class="hidden" id="productclassli">
                            <a href="#" class="item-link smart-select" data-back-text="返回" data-back-on-select="true" data-searchbar-placeholder="搜索箱规" data-searchbar-cancel="取消" data-searchbar="true"  id="product-select">
                                <select id="ProductClassId" name="ProductClassId" class="required">
                                    <option value="">- 请选择 -</option>
                                </select>
                                <div class="item-content">
                                    <div class="item-inner">
                                        <div class="item-title">选择箱规</div>
                                        <div class="item-after">- 请选择 -</div>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li class="hidden" id="productli">
                            <a href="#" class="item-link smart-select" data-back-text="返回" data-back-on-select="true" data-searchbar-placeholder="搜索产品" data-searchbar-cancel="取消" data-searchbar="true"  id="product-select">
                                <select id="ProductId" name="ProductId" class="required">
                                    <option value="">- 请选择 -</option>
                                </select>
                                <div class="item-content">
                                    <div class="item-inner">
                                        <div class="item-title">选择产品</div>
                                        <div class="item-after">- 请选择 -</div>
                                    </div>
                                </div>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="list-block" id="list-type-template">
                </div>
            }
        </div>
    </div>
</div>