@model SqzEvent.Models.QCAgenda

@using (Html.BeginForm("AddQCCheckoutPartial", "QualityControl", FormMethod.Post, new { @id = "addqccheckout-form", @class = "validate-form" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    @Html.HiddenFor(model => model.Id)
    @Html.HiddenFor(model => model.FactoryId)
    @Html.HiddenFor(model => model.QCStaffId)
    @Html.HiddenFor(model => model.Status)
    @Html.HiddenFor(m => m.CheckinTime)
    @Html.HiddenFor(m => m.CheckoutTime)
    @Html.HiddenFor(m => m.Subscribe)
    @Html.HiddenFor(m => m.Photos)
    @Html.HiddenFor(m => m.Remark)
    @Html.HiddenFor(model => model.CheckinRemark)
    @Html.HiddenFor(model => model.OfficalWorkers)
    @Html.HiddenFor(model => model.TemporaryWorkers)
    @Html.HiddenFor(model => model.SummaryTime)
    <div class="content-block-title">签退信息</div>
    <div class="list-block">
        <ul>
            <li>
                <div class="item-content middle-content">
                    @Html.TextAreaFor(m => m.CheckoutRemark, new { placeholder = "请输入签到备注" ,@class= "check input" })
                </div>
                <div class="item-content">
                    <div class="item-inner">
                        <div class="item-title"></div>
                        <div class="item-after"><span id="qccheckout-currentlen">0</span>/<span>200</span></div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
}
