@model SqzEvent.Models.QualityTest

<div class="navbar">
    <div class="navbar-inner">
        <div class="left">
            <a href="#" class="back link">
                <i class="icon icon-back" aria-hidden="true"></i>
                <span>返回</span>
            </a>
        </div>
        <div class="center sliding">新增产品检验</div>
        <div class="right">
            <a href="javascript:;" class="link color-gray" id="addqualitytest-submit">提交</a>
        </div>
    </div>
</div>
<div class="pages">
    <div class="page" data-page="addqualitytest">
        <div class="page-content">
            @using (Html.BeginForm("AddQualityTest", "QualityControl", FormMethod.Post, new { @id = "addqualitytest-form", @class = "validate-form" }))
            {
                @Html.AntiForgeryToken()
                @Html.HiddenFor(model => model.Id)
                @Html.HiddenFor(model => model.QCStaffId)
                @Html.HiddenFor(model => model.EvalScore)
                @Html.HiddenFor(model => model.EvalResult)
                <div class="list-block">
                    <ul>
                        <li>
                            <a href="#" class="item-link smart-select" data-back-text="返回" data-back-on-select="true" data-searchbar-cancel="取消" id="factory-select">
                                @Html.DropDownList("FactoryId", ViewBag.FactoryDropDown as SelectList, "- 请选择 -", new{@class="required" })
                                <div class="item-content">
                                    <div class="item-inner">
                                        <div class="item-title">选择工厂</div>
                                        <div class="item-after">- 请选择 -</div>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li class="hidden" id="productli">
                            <a href="#" class="item-link smart-select" data-back-text="返回" data-back-on-select="true" data-searchbar-placeholder="选择产品" data-searchbar-cancel="取消" id="product-select">
                                <select id="ProductId" name="ProductId" class="required">
                                    <option value="">- 请选择 -</option>
                                </select>
                                <div class="item-content">
                                    <div class="item-inner">
                                        <div class="item-title">选择产品</div>
                                        <div class="item-after">- 请选择 -</div>
                                    </div>
                                </div>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="list-block hidden" id="list-type-template">
                    <div class="content-block-title">检验类型(请根据检测阶段选择性填写)</div>
                    <ul>
                        <li class="accordion-item" data-list-id="1">
                            <a href="#" class="item-content item-link">
                                <div class="item-inner">
                                    <div class="item-title">基本信息</div>
                                    <div class="item-after">已填写</div>
                                </div>
                            </a>
                            <div class="accordion-item-content">
                                <div class="content-block" style="padding:0">
                                    <ul>
                                        <li>
                                            <div class="item-content">
                                                <div class="item-inner">
                                                    <div class="item-title label">产品追踪码</div>
                                                    <div class="item-input">
                                                        <input type="text" class="item-input-right scan-input" id="source-code" name="source-code" placeholder="点击扫描条形码" readonly="" required="">
                                                    </div>
                                                    <div class="item-after"></div>
                                                </div>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="item-content">
                                                <div class="item-inner">
                                                    <div class="item-title label">塑封膜无破损</div>
                                                    <div class="item-input item-input-right">
                                                        <label class="label-switch">
                                                            <input type="checkbox" id="film-break" name="film-break">
                                                            <div class="checkbox"></div>
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="item-content">
                                                <div class="item-inner">
                                                    <div class="item-title label">折页和卡片齐全</div>
                                                    <div class="item-input item-input-right">
                                                        <label class="label-switch">
                                                            <input type="checkbox" id="accessories-check" name="accessories-check">
                                                            <div class="checkbox"></div>
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="item-content">
                                                <div class="item-inner">
                                                    <div class="item-title label">单盒条数正确</div>
                                                    <div class="item-input item-input-right">
                                                        <label class="label-switch">
                                                            <input type="checkbox" id="qty-check" name="qty-check">
                                                            <div class="checkbox"></div>
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="item-content">
                                                <div class="item-inner">
                                                    <div class="item-title label">生产日期正确</div>
                                                    <div class="item-input item-input-right">
                                                        <label class="label-switch">
                                                            <input type="checkbox" id="product-date" name="product-date">
                                                            <div class="checkbox"></div>
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="item-content">
                                                <div class="item-inner">
                                                    <div class="item-title label">口味正常</div>
                                                    <div class="item-input item-input-right">
                                                        <label class="label-switch">
                                                            <input type="checkbox" id="tasty-check" name="tasty-check">
                                                            <div class="checkbox"></div>
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="item-content">
                                                <div class="item-inner">
                                                    <div class="item-title label">颜色正常</div>
                                                    <div class="item-input item-input-right">
                                                        <label class="label-switch">
                                                            <input type="checkbox" id="colour-check" name="colour-check">
                                                            <div class="checkbox"></div>
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </li>
                        <li class="accordion-item">
                            <a href="#" class="item-content item-link">
                                <div class="item-inner">
                                    <div class="item-title">外箱</div>
                                    <div class="item-after">已填写</div>
                                </div>
                            </a>
                            <div class="accordion-item-content">
                                <div class="content-block" style="padding:0">
                                    <ul>
                                        <li>
                                            <div class="item-content">
                                                <div class="item-inner">
                                                    <div class="item-title label">产品追踪码</div>
                                                    <div class="item-input">
                                                        <input type="text" class="item-input-right scan-input" id="source-code" name="source-code" placeholder="点击扫描条形码" readonly="" required="">
                                                    </div>
                                                    <div class="item-after"></div>
                                                </div>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="item-content">
                                                <div class="item-inner">
                                                    <div class="item-title label">塑封膜无破损</div>
                                                    <div class="item-input item-input-right">
                                                        <label class="label-switch">
                                                            <input type="checkbox" id="film-break" name="film-break">
                                                            <div class="checkbox"></div>
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="item-content">
                                                <div class="item-inner">
                                                    <div class="item-title label">折页和卡片齐全</div>
                                                    <div class="item-input item-input-right">
                                                        <label class="label-switch">
                                                            <input type="checkbox" id="accessories-check" name="accessories-check">
                                                            <div class="checkbox"></div>
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="item-content">
                                                <div class="item-inner">
                                                    <div class="item-title label">单盒条数正确</div>
                                                    <div class="item-input item-input-right">
                                                        <label class="label-switch">
                                                            <input type="checkbox" id="qty-check" name="qty-check">
                                                            <div class="checkbox"></div>
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="item-content">
                                                <div class="item-inner">
                                                    <div class="item-title label">生产日期正确</div>
                                                    <div class="item-input item-input-right">
                                                        <label class="label-switch">
                                                            <input type="checkbox" id="product-date" name="product-date">
                                                            <div class="checkbox"></div>
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="item-content">
                                                <div class="item-inner">
                                                    <div class="item-title label">口味正常</div>
                                                    <div class="item-input item-input-right">
                                                        <label class="label-switch">
                                                            <input type="checkbox" id="tasty-check" name="tasty-check">
                                                            <div class="checkbox"></div>
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="item-content">
                                                <div class="item-inner">
                                                    <div class="item-title label">颜色正常</div>
                                                    <div class="item-input item-input-right">
                                                        <label class="label-switch">
                                                            <input type="checkbox" id="colour-check" name="colour-check">
                                                            <div class="checkbox"></div>
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </li>
                        <li class="accordion-item">
                            <a href="#" class="item-content item-link">
                                <div class="item-inner">
                                    <div class="item-title">原料</div>
                                </div>
                            </a>
                            <div class="accordion-item-content">
                                <div class="content-block">
                                    <p>Item 1 content. Lorem ipsum dolor sit amet...</p>
                                </div>
                            </div>
                        </li>
                        <li class="accordion-item">
                            <a href="#" class="item-content item-link">
                                <div class="item-inner">
                                    <div class="item-title">外包装</div>
                                </div>
                            </a>
                            <div class="accordion-item-content">
                                <div class="content-block">
                                    <p>Item 1 content. Lorem ipsum dolor sit amet...</p>
                                </div>
                            </div>
                        </li>
                        <li class="accordion-item">
                            <a href="#" class="item-content item-link">
                                <div class="item-inner">
                                    <div class="item-title">内包装</div>
                                </div>
                            </a>
                            <div class="accordion-item-content">
                                <div class="content-block">
                                    <p>Item 2 content. Lorem ipsum dolor sit amet...</p>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            }
        </div>
    </div>
</div>