@model IEnumerable<SqzEvent.Models.QualityTestTemplate>

<ul>
    @foreach (var item in Model)
    {
        switch (item.ValueTypeId)
        {
            case 1:
                {
                    <li>
                        <div class="item-content">
                            <div class="item-inner">
                                <div class="item-title label">@Html.Encode(item.KeyTitle)</div>
                                <div class="item-input item-input-right">
                                    <label class="label-switch">
                                        <input type="checkbox" id="@item.KeyName" name="@item.KeyName" value="@item.StandardValue">
                                        <div class="checkbox"></div>
                                    </label>
                                </div>
                            </div>
                        </div>
                    </li>
                }
                break;
            case 2:
                {

                }
                break;
            case 3:
                {

                }
                break;
            case 4:
                {
                    <li>
                        <div class="item-content">
                            <div class="item-inner">
                                <div class="item-title label">@Html.Encode(item.KeyTitle)</div>
                                <div class="item-input">
                                    <input type="text" class="item-input-right" id="@item.KeyName" name="@item.KeyName" placeholder="点击扫描条形码" value="@item.StandardValue" readonly />
                                </div>
                                <div class="item-after"></div>
                            </div>
                        </div>
                    </li>
                }
                break;
            default:
                break;
        }
    }
</ul>
