@model IEnumerable<SqzEvent.Models.BreakdownReport>
@if (Model.Count() != 0)
{
    <div class="content-block-title">设备故障列表</div>
    <div class="list-block media-list">
        <ul>
            @foreach (var item in Model)
            {

                <li class="swipeout" data-url="@item.Id">
                    @if (item.Status == 1)
                    {
                        <div class="swipeout-content">
                            <a href="/QualityControl/BreakdownDetails?bdId=@item.Id" class="item-link item-content random-param pass-border">
                                <div class="item-inner">
                                    <div class="item-title-row">
                                        <div class="item-title">@Html.Encode(item.QCEquipment.SimpleName)</div>
                                        <div class="item-after">@Html.Encode(item.BreakDownTime.ToString("HH:mm"))</div>
                                    </div>
                                    <div class="item-subtitle color-gray">@Html.Encode(item.QCEquipment.Factory.SimpleName)</div>
                                </div>
                            </a>
                        </div>
                        <div class="swipeout-actions-right">
                            <a href="javascript:;" class="bg-gray">已修复</a>
                        </div>
                    }
                    else
                    {
                        <div class="swipeout-content">
                            <a href="/QualityControl/BreakdownDetails?bdId=@item.Id" class="item-link item-content random-param fail-border">
                                <div class="item-inner">
                                    <div class="item-title-row">
                                        <div class="item-title">@Html.Encode(item.QCEquipment.SimpleName)</div>
                                        <div class="item-after">@Html.Encode(item.BreakDownTime.ToString("HH:mm"))</div>
                                    </div>
                                    <div class="item-subtitle color-gray">@Html.Encode(item.QCEquipment.Factory.SimpleName)</div>
                                </div>
                            </a>
                        </div>
                        <div class="swipeout-actions-right">
                            <a href="/QualityControl/RecoveryBreakdown?bdId=@item.Id" class="bg-green">确认修复</a>
                        </div>
                    }

                </li>
            }
        </ul>
    </div>
}
else
{
    <div class="content-block-title">未找到设备故障记录</div>
}
