@{
    ViewBag.Title = "主页";
    Layout = "~/Views/Shared/_QualityControl.cshtml";
}
<!-- Status bar overlay for fullscreen mode-->
<div class="statusbar-overlay"></div>
<!-- Panels overlay-->
<div class="panel-overlay"></div>
<!-- Left panel with reveal effect-->
<div class="panel panel-left panel-reveal left-nav" id="userinfo">
</div>
<!-- Views-->
<div class="views">
    <!-- Your main view, should have "view-main" class-->
    <div class="view view-main">
        <!-- Top Navbar-->
        <div class="navbar">
            <div class="navbar-inner">
                <!-- We have home navbar without left link-->
                <div class="center sliding">主页</div>
                <div class="right">
                    <a href="#" class="link icon-only open-panel"><i class="icon icon-bars"></i></a>
                </div>
            </div>
        </div>
        <!-- Pages, because we need fixed-through navbar and toolbar, it has additional appropriate classes-->
        <div class="pages navbar-through toolbar-through">
            <!-- Page, data-page contains page name-->
            <div data-page="Home" class="page">
                <!-- Scrollable page content-->
                <div id="home-refresh" class="page-content pull-to-refresh-content">
                    <div class="pull-to-refresh-layer">
                        <div class="preloader"></div>
                        <div class="pull-to-refresh-arrow"></div>
                    </div>
                    <div class="list-block">
                        <ul>
                            <li>
                                <a href="/QualityControl/ProductionPlan" class="item-link item-content">
                                    <div class="item-inner">
                                        <div class="item-title">生产计划</div>
                                        <div class="item-after"></div>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="/QualityControl/QCCheckin" class="item-link item-content">
                                    <div class="item-inner">
                                        <div class="item-title">上班签到</div>
                                        <div class="item-after"></div>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="/QualityControl/QualityTestList" class="item-link item-content">
                                    <div class="item-inner">
                                        <div class="item-title">产品检验<sup id="qt_dot" class="hidden"><i class="fa fa-circle color-red"></i></sup></div>
                                        <div class="item-after" id="qt_count">0</div>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="/QualityControl/BreakdownList" class="item-link item-content">
                                    <div class="item-inner">
                                        <div class="item-title">故障报告<sup id="bd_dot" class="hidden"><i class="fa fa-circle color-red"></i></sup></div>
                                        <div class="item-after" id="bd_count">0</div>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="/QualityControl/AddQCCheckout" class="item-link item-content" data-ignore-cache="true">
                                    <div class="item-inner">
                                        <div class="item-title">签退<sup id="checkout_dot" class="hidden"><i class="fa fa-circle color-red"></i></sup></div>
                                        <div class="item-after" id="checkout_cnt">0</div>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="/QualityControl/QCDailySummary" class="item-link item-content"  data-ignore-cache="true">
                                    <div class="item-inner">
                                        <div class="item-title">每日工作总结<sup id="summary_dot" class="hidden"><i class="fa fa-circle color-red"></i></sup></div>
                                        <div class="item-after" id="summary_cnt">0</div>
                                    </div>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="hidden">
    <span id="appId">@ViewBag.AppId</span>
    <span id="timeStamp">@ViewBag.TimeStamp</span>
    <span id="nonce">@ViewBag.Nonce</span>
    <span id="url">@ViewBag.Url</span>
    <span id="signature">@ViewBag.Signature</span>
</div>

