@model SqzEvent.Models.BreakdownType
<div class="navbar">
    <div class="navbar-inner">
        <div class="left">
            <a href="#" class="back link">
                <i class="icon icon-back" aria-hidden="true"></i>
                <span>返回</span>
            </a>
        </div>
        <div class="center sliding"><strong>新增故障</strong></div>
        <div class="right">
            <a href="javascript:;" class="link" id="addbreakdowntype-submit">提交</a>
        </div>
    </div>
</div>
<div class="pages">
    <div class="page" data-page="addbreakdowntype" id="addbreakdowntype">
        <div class="page-content">
            @using (Html.BeginForm("CreateBreakdowmForEquipment", "QualityControl", FormMethod.Post, new { @id = "addbreakdowntype-form", @class = "validate-form" }))
            {
                @Html.AntiForgeryToken()
                <div class="list-block">
                    <ul>
                        <li>
                            <a href="#" class="item-link smart-select" data-back-text="返回" data-back-on-select="true" data-searchbar-placeholder="选择工厂" data-searchbar-cancel="取消" id="factory-select">
                                @Html.DropDownList("FactoryId", ViewBag.fl as SelectList, "- 请选择 -", new { @class = "required" })
                                <div class="item-content">
                                    <div class="item-inner">
                                        <div class="item-title">选择工厂</div>
                                        <div class="item-after">- 请选择 -</div>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="#" class="item-link smart-select" data-back-text="返回" data-back-on-select="true" data-searchbar-placeholder="选择设备" data-searchbar-cancel="取消" id="equipment-select">
                                @Html.DropDownList("EquipmentId", ViewBag.el as SelectList, "- 请选择 -", new { @class = "required" })
                                <div class="item-content">
                                    <div class="item-inner">
                                        <div class="item-title">选择设备</div>
                                        <div class="item-after">- 请选择 -</div>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="#" class="item-link smart-select" data-back-text="返回" data-back-on-select="true" data-searchbar-placeholder="选择权重" data-searchbar-cancel="取消" id="priority-select">
                                <select class="required" id="Priority" name="Priority">
                                    <option>- 请选择 -</option>
                                    <option value="1">高</option>
                                    <option value="2">中</option>
                                    <option value="3">低</option>
                                </select>
                                <div class="item-content">
                                    <div class="item-inner">
                                        <div class="item-title">选择权重</div>
                                        <div class="item-after">- 请选择 -</div>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li>
                            <div class="item-content">
                                <div class="item-inner">
                                    <div class="item-title label">故障简称</div>
                                    <div class="item-input">
                                        <input type="text" class="item-input-right" id="SimpleDescribe" name="SimpleDescribe" placeholder="故障简称" required/>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="item-content middle-content">
                                @Html.TextAreaFor(m => m.Describe, new { placeholder = "请简要描述故障", required = "required", maxlength = "200" })
                            </div>
                            <div class="item-content">
                                <div class="item-inner">
                                    <div class="item-title"></div>
                                    <div class="item-after"><span id="addDescribe-currentlen">0</span>/<span>200</span></div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="item-content middle-content">
                                @Html.TextAreaFor(m => m.Recommand, new { placeholder = "解决方案", required = "required", maxlength = "200" })
                            </div>
                            <div class="item-content">
                                <div class="item-inner">
                                    <div class="item-title"></div>
                                    <div class="item-after"><span id="addRecommand-currentlen">0</span>/<span>200</span></div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            }
        </div>
    </div>
</div>


