@model IEnumerable<SqzEvent.Models.Product>
@using SqzEvent.Models;
@{ 
    var schedule = ViewBag.ScheduleList as IEnumerable<ProductionSchedule>;
}

<div class="content-block-title">生产计划</div>
<div class="list-block">
    <ul>
        @foreach (var item in Model)
        {
        <li>
            <div class="item-content">
                <div class="item-inner">
                    <div class="item-title label">@item.SimpleName</div>
                    <div class="item-input">
                        @{
                            var singleschedule = schedule.SingleOrDefault(m => m.ProductId == item.Id);
                            if (singleschedule != null)
                            {
                                <input type="digits" id="@item.ProductCode" name="@item.ProductCode" placeholder="请输入数量" class="item-input-right isnumber" value="@singleschedule.ProductionPlan"/>
                            }
                            else
                            {
                                <input type="digits" id="@item.ProductCode" name="@item.ProductCode" placeholder="请输入数量" class="item-input-right isnumber" />
                            }
                        }
                        
                    </div>
                    <div class="item-after unit">盒</div>
                </div>
            </div>
        </li>
        }
    </ul>
</div>