@model SqzEvent.Models.BreakdownReport

<div class="navbar">
    <div class="navbar-inner">
        <div class="left">
            <a href="#" class="back link">
                <i class="icon icon-back" aria-hidden="true"></i>
                <span>返回</span>
            </a>
        </div>
        <div class="center sliding"><strong>故障详情</strong></div>
    </div>
</div>
<div class="pages">
    <div class="page" data-page="Manager_BreakdownDetail" id="Manager_BreakdownDetail">
        <div class="page-content">
            <div class="content-block-title">故障报告</div>
            <div class="list-block">
                <ul>
                    <li>
                        <div class="item-content">
                            <div class="item-inner">
                                <div class="item-title">工厂名称</div>
                                <div class="item-after">@Html.Encode(Model.QCEquipment.Factory.SimpleName)</div>
                            </div>
                        </div>

                    </li>
                    <li>

                        <div class="item-content">
                            <div class="item-inner">
                                <div class="item-title">设备名称</div>
                                <div class="item-after">@Html.Encode(Model.QCEquipment.SimpleName)</div>
                            </div>
                        </div>
                    </li>
                    <li>

                        <div class="item-content">
                            <div class="item-inner">
                                <div class="item-title">故障类型</div>
                                <div class="item-after">@Html.Encode(Model.BreakdownType.SimpleDescribe)</div>
                            </div>
                        </div>

                    </li>
                    <li>
                        <div class="item-content">
                            <div class="item-inner">
                                <div class="item-title">故障时间</div>
                                <div class="item-after">@Html.Encode(Model.BreakDownTime.ToString("yyyy-MM-dd HH:mm"))</div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="item-content">
                            <div class="item-inner">
                                <div class="item-title">修复时间</div>
                                <div class="item-after">@Html.Encode(Model.RecoveryTime != null ? Convert.ToDateTime(Model.RecoveryTime).ToString("yyyy-MM-dd HH:mm") : "")</div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <a href="javascript:;" class="item-content item-link qc-photos" data-photos="@Model.Photos">
                            <div class="item-inner">
                                <div class="item-title">故障图片</div>
                                <div class="item-after">点击查看</div>
                            </div>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="content-block-title">故障记录</div>
            <div class="list-block">
                <ul>
                    <li>
                        <div class="item-content middle-content">
                            @Html.TextAreaFor(m => m.ReportContent, new { placeholder = "请输入签到备注", @class = "required input-textarea", @readonly = "readonly" })
                        </div>
                    </li>
                </ul>
            </div>
            <div class="content-block-title">故障原因及导致结果</div>
            <div class="list-block">
                <ul>
                    <li>
                        <div class="item-content middle-content">
                            @Html.TextAreaFor(m => m.ReportDetail, new { placeholder = "请输入签到备注", @class = "required input-textarea", @readonly = "readonly" })
                        </div>
                    </li>
                </ul>
            </div>
            <div class="content-block-title">故障反馈</div>
            <div class="list-block">
                <ul>
                    <li>
                        <div class="item-content middle-content">
                            @Html.TextAreaFor(m => m.ReportResult, new { placeholder = "请输入签到备注", @class = "required input-textarea", @readonly = "readonly" })
                        </div>
                    </li>
                </ul>
            </div>
            <div class="content-block-title">故障信息</div>
            <div class="list-block">
                <ul>
                    <li>
                        <div class="item-content middle-content">
                            @Html.TextAreaFor(m => m.RecoveryRemark, new { placeholder = "请输入签到备注", @class = "required input-textarea", @readonly = "readonly" })
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

