@model SqzEvent.Models.BreakdownType
<div class="navbar">
    <div class="navbar-inner">
        <div class="left">
            <a href="#" class="back link">
                <i class="icon icon-back" aria-hidden="true"></i>
                <span>返回</span>
            </a>
        </div>
        <div class="center sliding">故障详情</div>
    </div>
</div>
<div class="pages">
    <div class="page" data-page="manager-breakdowndetail" id="manager-breakdowndetail">
        <div class="page-content">
            <div class="list-block top-list-2">
                <ul>
                    <li>
                        <div class="item-content">
                            <div class="item-inner">
                                <div class="item-title">工厂</div>
                                <div class="item-after">@Model.QCEquipment.Factory.SimpleName</div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="item-content">
                            <div class="item-inner">
                                <div class="item-title">设备</div>
                                <div class="item-after">@Model.QCEquipment.SimpleName</div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="item-content">
                            <div class="item-inner">
                                <div class="item-title">权重</div>
                                    @switch (Model.Priority)
                                    {
                                        case 1:
                                            <div class="item-after">
                                                高
                                            </div>
                                            break;
                                        case 2:
                                            <div class="item-after">
                                                中
                                            </div>
                                            break;
                                        case 3:
                                            <div class="item-after">
                                                低
                                            </div>
                                            break;

                                    }
                            </div>
 
                        </div>
                    </li>
                    <li>
                        <div class="item-content">
                            <div class="item-inner">
                                <div class="item-title">故障简称</div>
                                <div class="item-after">@Model.SimpleDescribe</div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="item-content middle-content">
                            <textarea disabled>@Model.Describe</textarea>
                        </div>
                        <div class="item-content">
                            <div class="item-inner">
                                <div class="item-title"></div>
                                <div class="item-after"><span id="addSimpleDescribe-currentlen">故障描述</span></div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="item-content middle-content">
                            <textarea disabled>@Model.Recommand</textarea>
                        </div>
                        <div class="item-content">
                            <div class="item-inner">
                                <div class="item-title"></div>
                                <div class="item-after"><span id="addSimpleDescribe-currentlen">解决方案</span></div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>


