@model SqzEvent.Models.QCEquipment
<div class="navbar">
    <div class="navbar-inner">
        <div class="left">
            <a href="#" class="back link">
                <i class="icon icon-back" aria-hidden="true"></i>
                <span>返回</span>
            </a>
        </div>
        <div class="center sliding"><strong>修改设备</strong></div>
        <div class="right">
            <a href="javascript:;" class="link" id="editequipment-submit">提交</a>
        </div>
    </div>
</div>
<div class="pages">
    <div class="page" data-page="editequipment">
        <div class="page-content">
            @using (Html.BeginForm("Manager_EditEquipment", "QualityControl", FormMethod.Post, new { @id = "editequipment-form", @class = "validate-form" }))
            {
                @Html.AntiForgeryToken()
                @Html.HiddenFor(m => m.Id);
                <div class="list-block">
                    <ul>
                        <li id="FactoryLi">
                            <a href="#" class="item-link smart-select" data-back-text="返回" data-back-on-select="true" data-searchbar-placeholder="选择工厂" data-searchbar-cancel="取消" id="factory-select">
                                @Html.DropDownList("FactoryId", ViewBag.fl as SelectList, "- 请选择 -", new { @class = "required" })
                                <div class="item-content">
                                    <div class="item-inner">
                                        <div class="item-title">选择工厂</div>
                                        <div class="item-after">- 请选择 -</div>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li>
                            <div class="item-content">
                                <div class="item-inner">
                                    <div class="item-title label">设备编号</div>
                                    <div class="item-input">
                                        <input type="text" class="item-input-right" id="ModelNumber" name="ModelNumber" placeholder="设备编号" required  value="@Model.ModelNumber"/>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="item-content">
                                <div class="item-inner">
                                    <div class="item-title label">设备全称</div>
                                    <div class="item-input">
                                        <input type="text" class="item-input-right" id="Name" name="Name" placeholder="设备全称" required  value="@Model.Name"/>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="item-content">
                                <div class="item-inner">
                                    <div class="item-title label">设备简称</div>
                                    <div class="item-input">
                                        <input type="text" class="item-input-right" id="SimpleName" name="SimpleName" placeholder="设备简称" required  value="@Model.SimpleName"/>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="item-content">
                                <div class="item-inner">
                                    <div class="item-title label">制造时间</div>
                                    <div class="item-input">
                                        @if (Model.ManufactureDate == null)
                                        {
                                            <input type="text" class="item-input-right" id="ManufactureDate" name="ManufactureDate" placeholder="请输入制造时间" dateISO=true required value="@Model.ManufactureDate" />
                                        }                                                                              
                                        else
                                        {
                                            <input type="text" class="item-input-right" id="ManufactureDate" name="ManufactureDate" placeholder="请输入制造时间" dateISO=true required value="@Html.Encode(Convert.ToDateTime(Model.ManufactureDate).ToString("yyyy-MM-dd"))" />
                                        }                                       
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="item-content middle-content">
                                @Html.TextAreaFor(m => m.Subscribe, new { placeholder = "请输入设备描述", required = "required", maxlength = "200" })
                            </div>
                            <div class="item-content">
                                <div class="item-inner">
                                    <div class="item-title"></div>
                                    <div class="item-after"><span id="editequipment-currentlen">0</span>/<span>200</span></div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            }
        </div>
    </div>
</div>


