@model SqzEvent.Models.QCAgenda

<div class="navbar">
    <div class="navbar-inner">
        <div class="left">
            <a href="#" class="back link">
                <i class="icon icon-back" aria-hidden="true"></i>
                <span>返回</span>
            </a>
        </div>
        <div class="center sliding"><strong>上班签到</strong></div>
        <div class="right">
            <a href="javascript:;" class="link" id="submit-link">提交</a>
        </div>
    </div>
</div>
<div class="pages">
    <div class="page" data-page="qccheckin">
        <div class="page-content">
            @using (Html.BeginForm("QCCheckin","QualityControl", FormMethod.Post, new { @id="qccheckin-form", @class="validate-form"}))
            {
                @Html.AntiForgeryToken()
                @Html.HiddenFor(m=>m.Status)
                @Html.HiddenFor(m=>m.Id)
                @Html.HiddenFor(m=>m.QCStaffId)
                <div class="content-block-title">@DateTime.Now.ToString("yyyy-MM-dd")</div>
                <div class="list-block">
                    <ul>
                        <li>
                            <a href="#" class="item-link smart-select" data-back-text="返回" data-back-on-select="true" data-searchbar="true" data-searchbar-placeholder="选择工厂" data-searchbar-cancel="取消">
                                @Html.DropDownListFor(m => m.FactoryId, ViewBag.FactoryList as SelectList)
                                <div class="item-content">
                                    <div class="item-inner">
                                        <div class="item-title">签到工厂</div>
                                        <div class="item-after">- 请选择 -</div>
                                    </div>
                                </div>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="content-block-title">工作人数</div>
                <div class="list-block">
                    <ul>
                        <li>
                            <div class="item-content">
                                <div class="item-inner">
                                    <div class="item-title label">正式员工</div>
                                    <div class="item-input">
                                        @Html.TextBoxFor(m => m.OfficalWorkers, new { placeholder = "正式员工", @class = "item-input-right"  })
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="item-content">
                                <div class="item-inner">
                                    <div class="item-title label">临时员工</div>
                                    <div class="item-input">
                                        @Html.TextBoxFor(m => m.TemporaryWorkers, new { placeholder = "临时员工", @class = "item-input-right"})
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="list-block">
                    <ul>
                        <li>
                            <div class="item-content">
                                <div class="item-inner">
                                    <div class="item-title">上传照片</div>
                                    <div class="item-after"><abbr id="qccheckin-imgcount">0</abbr>/7</div>
                                </div>
                            </div>
                            <div class="item-content">
                                <div class="item-inner">
                                    <div class="hidden">
                                        @Html.EditorFor(m => m.Photos)
                                    </div>
                                    <ul class="rep-imglist" id="qccheckin-photos"></ul>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="item-content">
                                @Html.TextAreaFor(m => m.Remark, new { placeholder = "请输入签到备注", @class = "required", name="text-area"})
                            </div>
                            <div class="item-content">
                                <div class="item-inner">
                                    <div class="item-title"></div>
                                    <div class="item-after"><span id="qccheckin-currentlen">0</span>/<span>200</span></div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            }
        </div>
    </div>
</div>
