@using SqzEvent.Models;
@model SqzEvent.Models.QCAgenda

@using (Html.BeginForm("QCDailySummaryPartial", "QualityControl", FormMethod.Post, new { @id = "qcdailysummarypartial-form", @class = "validate-form" }))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => model.Id)
    @Html.HiddenFor(model => model.FactoryId)
    @Html.HiddenFor(model => model.QCStaffId)
    @Html.HiddenFor(model => model.Status)
    @Html.HiddenFor(m => m.CheckinTime)
    @Html.HiddenFor(m => m.CheckoutTime)
    @Html.HiddenFor(m => m.Subscribe)
    @Html.HiddenFor(m => m.Photos)
    @Html.HiddenFor(model => model.CheckinRemark)
    @Html.HiddenFor(model => model.TemplateValues)
    <div class="content-block-title">产量数据</div>
    <div class="list-block">
        <ul>
            @foreach (Product p in ViewBag.ProductList)
            {
            <li>
                <div class="item-content">
                    <div class="item-inner">
                        <div class="item-title label" style="width:50%;">@Html.Encode(p.SimpleName+(p.Specification))</div>
                        <div class="item-input">
                            <input type="digits" placeholder="数量" class="item-input-right isnumber" id="@p.ProductCode" name="@p.ProductCode"/>
                        </div>
                        <div class="item-after color-black">盒</div>
                    </div>
                </div>
            </li>
            }
        </ul>
    </div>
    <div class="content-block-title">工作信息</div>
    <div class="list-block">
        <ul>
            <li>
                <div class="item-content">
                    <div class="item-inner">
                        <div class="item-title label">工作时长</div>
                        <div class="item-input">
                            @Html.TextBoxFor(m => m.WorkHours, new { placeholder = "工作时长", @class = "item-input-right required", type = "number" })
                        </div>
                        <div class="item-after color-black">小时</div>
                    </div>
                </div>
            </li>
            <li>
                <div class="item-content">
                    <div class="item-inner">
                        <div class="item-title">上传照片</div>
                        <div class="item-after"><abbr id="qcsummary-imgcount">0</abbr>/7</div>
                    </div>
                </div>
                <div class="item-content middle-content">
                    <div class="item-inner">
                        <div class="hidden">
                            @Html.TextBoxFor(m => m.SummaryPhotos, new { @class = "photos" })
                        </div>
                        <ul class="rep-imglist" id="qcsummary-photos"></ul>
                    </div>
                </div>
            </li>
        </ul>
    </div>
    <div class="content-block-title">备注信息</div>
    <div class="list-block">
        <ul>
            <li>
                <div class="item-content middle-content">
                    @Html.TextAreaFor(m => m.Remark, new { placeholder = "请输入签到备注", @class = "required input-textarea maxlength_200", maxlength="200"})
                </div>
                <div class="item-content">
                    <div class="item-inner">
                        <div class="item-title"></div>
                        <div class="item-after"><span id="qccheckin-currentlen">0</span>/<span>200</span></div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
}
