@model SqzEvent.Models.RegularTest
<div class="navbar">
    <div class="navbar-inner">
        <div class="left">
            <a href="#" class="back link">
                <i class="icon icon-back" aria-hidden="true"></i>
                <span>返回</span>
            </a>
        </div>
        <div class="center sliding"><strong>出厂报告</strong></div>
        <div class="right">
            <a href="javascript:;" class="link" id="qualityregulartest-submit">提交</a>
        </div>
    </div>
</div>
<div class="pages">
    <div class="page" data-page="qualityregulartest" id="qualityregulartest">
        <div class="page-content">
            @using (Html.BeginForm("QualityRegularTest", "QualityControl", FormMethod.Post, new { @id = "qualityregulartest-form", @class = "validate-form" }))
            {
                @Html.AntiForgeryToken()
                @Html.HiddenFor(m => m.Id)
                @Html.HiddenFor(m => m.UploadStaffId)
                @Html.HiddenFor(m => m.UploadTime)
                <div class="list-block">
                    <ul>
                        <li>
                            <a class="item-link">
                                <div class="item-content">
                                    <div class="item-inner">
                                        <div class="item-title" style="width:50%">选择日期</div>
                                        <div class="item-input">
                                            <input id="ApplyDate" name="ApplyDate" type="text" placeholder="日期" value="@DateTime.Now.ToString("yyyy-MM-dd")" class="item-input-right" />
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="#" class="item-link smart-select" id="factory-select" data-back-text="返回" data-back-on-select="true" data-searchbar-placeholder="选择工厂" data-searchbar-cancel="取消">
                                @Html.DropDownListFor(m => m.FactoryId, ViewBag.FactoryList as SelectList, "- 请选择 -", new { @class = "required" })
                                <div class="item-content">
                                    <div class="item-inner">
                                        <div class="item-title">选择工厂</div>
                                        <div class="item-after">- 请选择 -</div>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="#" class="item-link smart-select" data-back-text="返回" data-back-on-select="true" data-searchbar-placeholder="选择品类" data-searchbar-cancel="取消" id="productclass-select">
                                <select id="ProductClassId" name="ProductClassId" class="required">
                                    <option value="">- 请选择 -</option>
                                </select>
                                <div class="item-content">
                                    <div class="item-inner">
                                        <div class="item-title">选择品类</div>
                                        <div class="item-after">- 请选择 -</div>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="#" class="item-link smart-select" data-back-text="返回" data-back-on-select="true" data-searchbar-placeholder="选择产品" data-searchbar-cancel="取消" id="product-select">
                                <select id="ProductId" name="ProductId" class="required">
                                    <option value="">- 请选择 -</option>
                                </select>
                                <div class="item-content">
                                    <div class="item-inner">
                                        <div class="item-title">选择产品</div>
                                        <div class="item-after">- 请选择 -</div>
                                    </div>
                                </div>
                            </a>
                        </li>
                    </ul>
                </div>
                <div id="input-content">
                    <div class="list-block">
                        <ul>
                            <li>
                                <div class="item-content">
                                    <div class="item-inner">
                                        <div class="item-title">上传照片</div>
                                        <div class="item-after"><abbr id="qualityregulartest-imgcount">0</abbr>/3</div>
                                    </div>
                                </div>
                                <div class="item-content middle-content">
                                    <div class="item-inner">
                                        @Html.HiddenFor(m => m.Photo, new { @class = "photos" })
                                        <ul class="rep-imglist" id="qualityregulartest-photos"></ul>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            }
        </div>
    </div>
</div>
