@model SqzEvent.Models.BreakdownReport
<div class="navbar">
    <div class="navbar-inner">
        <div class="left">
            <a href="#" class="back link">
                <i class="icon icon-back" aria-hidden="true"></i>
                <span>返回</span>
            </a>
        </div>
        <div class="center sliding">确认修复故障</div>
        <div class="right">
            <a href="javascript:;" class="link" id="recoverybreakdown-submit">提交</a>
        </div>
    </div>
</div>
<div class="pages">
    <div class="page" data-page="recoverybreakdown" id="recoverybreakdown">
        <div class="page-content">
            <div class="content-block-title">故障数据</div>
            <div class="list-block">
                <ul>
                    <li class="item-content">
                        <div class="item-inner">
                            <div class="item-title">工厂名称</div>
                            <div class="item-after">@Html.Encode(Model.QCEquipment.Factory.SimpleName)</div>
                        </div>
                    </li>
                    <li class="item-content">
                        <div class="item-inner">
                            <div class="item-title">设备名称</div>
                            <div class="item-after">@Html.Encode(Model.QCEquipment.SimpleName)</div>
                        </div>
                    </li>
                    <li class="item-content">
                        <div class="item-inner">
                            <div class="item-title">故障时间</div>
                            <div class="item-after">@Html.Encode(Model.BreakDownTime.ToString("HH:mm"))</div>
                        </div>
                    </li>
                    <li class="item-content">
                        <div class="item-inner">
                            <div class="item-title">故障类型</div>
                            <div class="item-after">@Html.Encode(Model.BreakdownType.SimpleDescribe)</div>
                        </div>
                    </li>
                    <li>
                        <a href="javascript:;" class="item-content item-link qc-photos" data-photos="@Model.Photos">
                            <div class="item-inner">
                                <div class="item-title">故障图片</div>
                                <div class="item-after">点击查看</div>
                            </div>
                        </a>
                    </li>
                </ul>
            </div>
            @using (Html.BeginForm("RecoveryBreakdown", "QualityControl", FormMethod.Post, new { @id = "recoverybreakdown-form", @class = "validate-form" }))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Id)
        @Html.HiddenFor(model => model.Status)
        @Html.HiddenFor(model => model.QCEquipmentId)
        @Html.HiddenFor(model => model.BreakDownTypeId)
        @Html.HiddenFor(model => model.QCStaffId)
        @Html.HiddenFor(model => model.BreakDownTime)
        @Html.HiddenFor(model => model.ReportTime)
        @Html.HiddenFor(model => model.ReportContent)
        @Html.HiddenFor(model => model.ReportDetail)
        @Html.HiddenFor(model => model.ReportResult)
        @Html.HiddenFor(model => model.Photos)
        <div class="content-block-title">恢复信息</div>
        <div class="list-block">
            <ul>
                <li>
                    <div class="item-content">
                        <div class="item-inner">
                            <div class="item-title label">恢复时间</div>
                            <div class="item-input">
                                <input type="text" class="item-input-right" id="RecoveryTimeTiny" name="RecoveryTimeTiny" placeholder="恢复时间" />
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="item-content middle-content">
                        @Html.TextAreaFor(m => m.RecoveryRemark, new { placeholder = "请输入签到备注", @class = "input-textarea", required = "required", maxlength = "200" })
                    </div>
                    <div class="item-content">
                        <div class="item-inner">
                            <div class="item-title"></div>
                            <div class="item-after"><span id="recoverybreakdown-currentlen">0</span>/<span>200</span></div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
}
        </div>
    </div>
</div>

