@model SqzEvent.Models.Tjh_UserAttendance

@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=0,minimum-scale=1.0,maximum-scale=1.0" />
    <meta name="keywords" content="fullpage,jquery,demo,screen,fullscreen,backgrounds,full-screen" />
    <title>Tjh_UserAttendance_Register</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/jquery.fullPage.css" rel="stylesheet" />
    <link href="~/Content/font-awesome.min.css" rel="stylesheet" />
    <style>
        /*全局*/
           img{
            display:block;
           }
           select {
               -webkit-appearance: none;
           }
           h1{
             margin:0;
             padding:0;
           }
          label{
             line-height: 2.234;
        }
     /*滑动块*/
         .down a {
	        position: absolute;
	        bottom: 0;
            left: 50%;
	        z-index: 2;
	        display: inline-block;
	        -webkit-transform: translate(0, -50%);
	        transform: translate(0, -50%);
	        color: #fff;
	        font : normal 400 20px/1 'Josefin Sans', sans-serif;
	        letter-spacing: .1em;
	        text-decoration: none;
	        transition: opacity .3s;
	        padding-top: 60px;
        }
         .down a:hover {
	        opacity: .5;
        }
         .down a span {
	        position: absolute;
	        top: 0;
	        left: 50%;
	        width: 30px;
	        height: 50px;
	        margin-left: -15px;
	        border: 2px solid #fff;
	        border-radius: 50px;
	        box-sizing: border-box;
         }
         .down a span::before {
	        position: absolute;
	        top: 10px;
	        left: 50%;
	        content: '';
	        width: 6px;
	        height: 6px;
	        margin-left: -3px;
	        background-color: #fff;
	        border-radius: 100%;
	        -webkit-animation: sdb10 2s infinite;
	       animation: sdb10 2s infinite;
	       box-sizing: border-box;
         }
@@-webkit-keyframes sdb10 {
	0% {
		-webkit-transform: translate(0, 20px);
		opacity: 0;
	}
	40% {
		opacity: 1;
	}
	80% {
		-webkit-transform: translate(0, 0);
		opacity: 0;
	}
	100% {
		opacity: 0;
	}
}
@@keyframes sdb10 {
	0% {
		transform: translate(0, 20px);
		opacity: 0;
	}
	40% {
		opacity: 1;
	}
	80% {
		transform: translate(0, 0);
		opacity: 0;
	}
	100% {
		opacity: 0;
	}
}
    /*表单*/
        .container{
            width:auto !important;
        }
        .selectwrap {
            padding: 0;
        }
        #AreaProvince{
            border-right:none;
        }

        .btn-disabled {
            color: #ccc !important;
        }

        .select.form-control {
            appearance: none;
            -moz-appearance: none;
            -webkit-appearance: none;
            padding: 0 0 0 15px;
            outline: none;
            text-decoration: none;
            background-color: #fff;
            -webkit-box-shadow: none;
            box-shadow: none;
        }
        .nopass::before{
            content:"\f096";
            font: normal normal normal 14px/1 FontAwesome;
            text-rendering: auto;
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
        }
        .pass::before{
            font: normal normal normal 14px/1 FontAwesome;
            text-rendering: auto;
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
            content:"\f046";
        }
       .btn-default.active.focus, .btn-default.active:focus, .btn-default.active:hover, .btn-default:active.focus, .btn-default:active:focus, .btn-default:active:hover, .open>.dropdown-toggle.btn-default.focus, .open>.dropdown-toggle.btn-default:focus, .open>.dropdown-toggle.btn-default:hover,.btn-default.active.focus, .btn-default.active:focus, .btn-default.active:hover, .btn-primary:active.focus, .btn-default:active:focus, .btn-primary:active:hover, .open>.dropdown-toggle.btn-default.focus, .open>.dropdown-toggle.btn-default:focus, .open>.dropdown-toggle.btn-default:hover,.btn-default.active, .btn-default:active, .open>.dropdown-toggle.btn-default{
            color:#fff !important;
            background-color:#4cae4c !important;
            border-color: #4cae4c !important;
        }
        .border-error {
            border-color: #a94442 !important;
        }
      

        .border-success {
            border-color: #4cae4c;
        }
        .inputwrap {
            padding-left: 0;
        }
        @@media screen and (max-width: 320px) {
            .container{
                position:relative;
                left:1000px;
                padding-top:2%;
            }
            .container .form-group{
                margin-bottom:5%;
            }
        }
        @@media screen and (min-width:321px)and (max-width: 375px) {
            .container {
                position:relative;
                left:1000px;
                padding-top: 8%;
            }

           .container .form-group {
               margin-bottom: 10%;
           }
        }
       @@media screen and (min-width:376px)and (max-width: 480px) {
            .container{
                position:relative;
                left:1000px;
                padding-top:5%;
            }
            .container .form-group{
                margin-bottom:9%
            }
        }
     /*fullpage*/
     #footer_pic.active{
        -webkit-transform: translate3d(0px, -800px, 0px);
		-moz-transform: translate3d(0px, -800px, 0px);
		-ms-transform:translate3d(0px, -800px, 0px);
		transform: translate3d(0px, -800px, 0px);
        -webkit-transition: all 1.5s ease-out;
		-moz-transition: all 1.5s ease-out;
		-o-transition: all 1.5s ease-out;
		transition: all 1.5s ease-out;
     }
     #header_pic.active{
        -webkit-transform: translate3d(0px, 8999px, 0px);
		-moz-transform: translate3d(0px, 8999px, 0px);
		-ms-transform:translate3d(0px, 8999px, 0px);
		transform: translate3d(0px, 8999px, 0px);
        -webkit-transition: all 0.5s ease-out;
		-moz-transition: all 0.5s ease-out;
		-o-transition: all 0.5s ease-out;
		transition: all 0.5s ease-out;
     }
     .container.active{
        -webkit-transform: translate3d(-1000px, 0px, 0px);
		-moz-transform: translate3d(-1000px, 0px, 0px);
		-ms-transform:translate3d(-1000px,0px, 0px);
		transform: translate3d(-1000px, 0px, 0px);
        -webkit-transition: all 1s ease-out;
		-moz-transition: all 1s ease-out;
		-o-transition: all 1s ease-out;
		transition: all 1s ease-out;
     }
     #footer_pic{
        position:relative;
        bottom:-800px;
        padding:0px 6px 0 6px;
     }
     #header_pic{
        position:relative;
        top:-8999px;
        padding:10% 6px 0 6px;
     }
     #fp-nav.right{
         right:0 !important;
     }
     #fp-nav ul li a span, .fp-slidesNav ul li a span{
         border: 1px solid #AAA;
         background: rgba(0, 0, 0, 0)
     }
	.section{
		text-align:center;
        background-size: cover;
	}
	#section0{
		background-image: url(../../Content/images/bg1.jpg);
	}
    #section1{
		background-image: url(../../Content/images/bg2.jpg);
	}
	#section2{
		background-image: url(../../Content/images/bg3.jpg);
	}
    #section3 {
            background: url('../../Content/images/bg0042.png') repeat;
    }
   .logo-warp{
           width:100%;
    }
   .section .container {
          margin:0 6px;
          background: url('../../Content/images/bg0041c.png');
          background-size:100%;
    }
   @@media all and (orientation : landscape) {
       .ui-content{
           color:#fff;
           font-size:2rem;
           top:0;
           background-color: rgba(0, 0, 0, 0.2);
           display:block;
           position:fixed;
           left:0;
           vertical-align:middle;
           width:100%;
           height:100%;
           text-align:center;
           margin:0 auto;
           z-index:99999;
           font-weight:700;
       }
       .ui-content div{
           width:90%;
           left:0;
           right:0;
           margin:0 auto;
           position:absolute;
           top:20%;
       }
   }

  @@media all and (orientation : portrait){
       .ui-content{
           display:none;
       }
  }
	</style>

	<!--[if IE]>
		<script type="text/javascript">
			 var console = { log: function() {} };
		</script>
	<![endif]-->

</head>
<body>
    <div data-role="main" class="ui-content">
        <div>
            <i>请试着旋转您的设备！</i>
            <br />
            <p><b>注意</b>请在竖屏状态下观看</p>
        </div>
    </div>
    <div id="fullpage">
        <div class="section " id="section0">
            <div id="huadong" class="down">
                <a href="javascript:;"><span></span></a>
            </div>
        </div>
        <div class="section" id="section1">
            <div id="huadong" class="down">
                <a href="javascript:;"><span></span></a>
            </div>
        </div>
        <div class="section" id="section2">
            <div id="huadong" class="down">
                <a href="javascript:;"><span></span></a>
            </div>
        </div>
        <div class="section" id="section3">
            <div id="header_pic"> 
                <img src="~/Content/images/bg0041h.png" class="logo-warp" />
            </div>
            <div class="container">
                <div class="col-xs-12">
                    @using (Html.BeginForm("Tjh_UserAttendance_Register", "Promotion", FormMethod.Post, new { @class = "form-horizontal", id = "create-form" }))
                    {
                        @Html.AntiForgeryToken()
                        @Html.HiddenFor(m => m.Id)
                        @Html.HiddenFor(m => m.openid)
                        @Html.HiddenFor(m => m.SignupDatetime)
                        @Html.HiddenFor(m => m.Confirmed)
                        @Html.HiddenFor(m => m.ConfirmedDatetime)
                        <div class="form-group">
                            <div class="col-xs-12 selectwrap">
                                @Html.TextBoxFor(m => m.Name, new { @class = "form-control input-lg" })
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-xs-12 selectwrap">
                                @Html.TextBoxFor(m => m.Mobile, new { @class = "form-control input-lg", @type="tel" })
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-xs-12">
                                <div class="row">
                                    <div class="col-xs-6 selectwrap">
                                        <select id="AreaProvince" name="AreaProvince" class="form-control select border-none input-lg">
                                            <option>请选择省</option>
                                        </select>
                                    </div>
                                    <div class="col-xs-6 selectwrap">
                                        <select id="AreaCity" name="AreaCity" class="form-control select border-none input-lg">
                                            <option>请选择市</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                            <div class="form-group">
                                <div class="col-xs-12">
                                    <div class="row">
                                        <div class="btn-group col-xs-12 selectwrap active" data-toggle="buttons">
                                            <label class="btn btn-lg btn-default  col-xs-6 nopass">
                                                <input type="checkbox" autocomplete="off">KA
                                            </label>
                                            <label class="btn btn-lg btn-default col-xs-6 nopass">
                                                <input type="checkbox" autocomplete="off">流通
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                                <div class="form-group">
                                    <div class="col-xs-12 selectwrap">
                                        @Html.TextBoxFor(m => m.RecommandUser, new { @class = "form-control input-lg" })
                                    </div>
                                </div>
                    }
                    <div class="form-group">
                        <div class="col-xs-2"></div>
                        <div class="col-xs-8"><a class="btn btn-success btn-block btn-lg" id="register-btn">立即报名</a></div>
                        <div class="col-xs-2"></div>
                    </div>
                </div>
            </div>
            <div id="footer_pic">
                <img src="~/Content/images/bg0041f.png" class="logo-warp" />
            </div>
        </div>
    </div>
</body>
</html>
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/scrolloverflow.min.js"></script>
<script src="~/Scripts/jquery.fullPage.min.js"></script>
<script src="~/Scripts/bootstrap.min.js"></script>
<script>
    $(document).ready(function () {
        $('#fullpage').fullpage({
            autoScrolling:true,
            verticalCentered:false,
            css3: true,
            navigation: true,
            navigationPosition: 'right',
            navigationTooltips: ['第一页', '第二页', '第三页', '第四页'],
            afterResponsive: function (isResponsive) {

            },
            afterLoad: function (anchorLink, index) {
                if (index == 4) {
                    $('#header_pic, #footer_pic, .container').addClass('active');
                }
            },
        });
    });
    $(document).ready(function () {
        $("#demosMenu").change(function () {
            window.location.href = $(this).find("option:selected").attr("id") + '.html';
        });
    });
    $(".selectwrap label").each(function () {
        $(this).on("click", function () {
            if ($(this).hasClass("pass")) {
                $(this).removeClass("pass")
            } else {
                $(this).addClass("pass");
            }
        })
    })
    var recommend_type = /^(13[0-9]|14[0-9]|15[0-9]|18[0-9])\d{8}$|^\d{0}$/   //推荐码正则
    var verification_type = /^\d{4,6}$/                                       //验证码正则
    var word_type = /^[\u4e00-\u9fa5]{1,6}$/                                  //输入姓名正则
    var tel_type = /^(13[0-9]|14[0-9]|15[0-9]|18[0-9])\d{8}$/                 //电话号码正则
    $.ajax({
        url: "/Seller/GetRegion",
        data: {
            level: 1
        },
        success: function (data) {
            var data = JSON.parse(data);
            for (i = 0; i < data.response.regions.length; i++) {
                var province = unescape(data.response.regions[i].name);
                var province_val = data.response.regions[i].id;
                $("#AreaProvince").append("<option target-id=\"" + province_val + "\" value=\"" + province + "\">" + province + "</option>");
            }
        }
    });
    /*选择省后获取对应市级信息*/
    $("#AreaProvince").on("change", function () {
        $("#AreaCity").html("<option>请选择省</option>");
        $.ajax({
            url: "/Seller/GetRegion",
            data: {
                parentid: $("#AreaProvince").find("option:selected").attr("target-id"),
                level: 2
            },
            success: function (data) {
                var data = JSON.parse(data);
                if ($("#AreaProvince").find("option:selected").attr("target-id") > 0) {
                    for (i = 0; i < data.response.regions.length; i++) {
                        var city = unescape(data.response.regions[i].name);
                        var city_val = data.response.regions[i].id;
                        $("#AreaCity").append("<option target-id=\"" + city_val + "\" value=\"" + city + "\">" + city + "</option>");
                    }
                }
            }
        });
    });
    $("#register-btn").on("click", function () {
        var bool = true;
        var check = false;
        if (!$(this).hasClass("btn-disabled")) {
            $(this).addClass("btn-disabled");
            if (!word_type.test($("#Name").val())) {
                $("#Name").parent().addClass("has-error");
                $("#Name").val("");
                $("#Name").attr("placeholder","请输入合法的姓名")
                $(this).removeClass("btn-disabled");
                bool = false;
            } else {
                $("#Name").parent().removeClass("has-error");
                $("#Name").parent().addClass("has-success");
            }
            if (!tel_type.test($("#Mobile").val())) {
                $("#Mobile").parent().addClass("has-error");
                $("#Mobile").val("");
                $("#Mobile").attr("placeholder", "请输入合法的手机号");
                $(this).removeClass("btn-disabled");
                bool = false;
            } else {
                $("#Mobile").parent().removeClass("has-error");
                $("#Mobile").parent().addClass("has-success");
            }
            if (!recommend_type.test($("#RecommandUser").val())) {
                $("#RecommandUser").parent().addClass("has-error");
                $("#RecommandUser").val("");
                $("#RecommandUser").attr("placeholder", "请输入正确的推荐码(选填)");
                $(this).removeClass("btn-disabled");
                bool = false;
            } else {
                $("#RecommandUser").parent().removeClass("has-error");
                $("#RecommandUser").parent().addClass("has-success");
            }
            $("select").each(function () {
                if ($(this).val() == "请选择市" || $(this).val() == "请选择省") {
                    $(this).parent().addClass("has-error");
                    $("#register-btn").removeClass("btn-disabled");
                    bool = false;
                } else {
                    $(this).parent().removeClass("has-error");
                    $(this).parent().addClass("has-success");
                }
            });
            $("input[type='checkbox']").each(function () {
                if ($(this).is(":checked")) {
                    check = true;
                }
            });
            if (check == false) {
                $("input[type='checkbox']").parent().addClass("border-error");
            } else {
                $("input[type='checkbox']").parent().removeClass("border-error");
            }
            if (bool) {
                $("#create-form").submit();
            }
        } else {
            $(this).addClass("btn-disabled");
        }
    })
</script>