
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=0,minimum-scale=1.0,maximum-scale=1.0" />
    <meta name="keywords" content="fullpage,jquery,demo,screen,fullscreen,backgrounds,full-screen" />
    <title>2017春糖会 确认参会</title>
    <link href="~/Content/jquery.fullPage.css" rel="stylesheet" />
    <style>
        #footer_pic {
            padding: 0px 6px 0 6px;
        }

        #header_pic {
            padding: 10% 6px 0 6px;
        }

        #fp-nav.right {
            right: 0 !important;
        }

        #fp-nav ul li a span, .fp-slidesNav ul li a span {
            border: 1px solid #AAA;
            background: rgba(0, 0, 0, 0);
        }

        .section {
            text-align: center;
            background-size: cover;
        }

        #section0 {
            background-image: url(/Content/images/0306-H5-finish.jpg);
        }

        .ui-content {
            display: none;
            color: #fff;
            font-size: 2rem;
            top: 0;
            background-color: rgba(0, 0, 0, 0.9);
            display: block;
            position: fixed;
            left: 0;
            vertical-align: middle;
            width: 100%;
            height: 100%;
            text-align: center;
            margin: 0 auto;
            z-index: -1;
            font-weight: 700;
        }

            .ui-content div {
                width: 90%;
                left: 0;
                right: 0;
                margin: 0 auto;
                position: absolute;
                top: 20%;
            }

        .main-text {
            font-size: 1.2rem;
            padding-top: 33%;
            color: #fff;
            line-height: 1.8rem;
        }
    </style>

</head>
<body>
    <div data-role="main" class="ui-content" style="display:none;">
        <div>
            <i>请试着旋转您的设备！</i>
            <br />
            <p><b>注意</b>请在竖屏状态下观看</p>
        </div>
    </div>
    <div id="fullpage">
        <div class="section " id="section0">
            <div class="main-text"><p>感谢您参加寿全斋2017成都糖酒会<br />期待与您的进一步合作</p></div>
        </div>
    </div>
    <div class="hidden">
        <span id="appId">@ViewBag.AppId</span>
        <span id="timeStamp">@ViewBag.TimeStamp</span>
        <span id="nonce">@ViewBag.Nonce</span>
        <span id="url">@ViewBag.Url</span>
        <span id="signature">@ViewBag.Signature</span>
    </div>
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/scrolloverflow.min.js"></script>
    <script src="~/Scripts/jquery.fullPage.min.js"></script>
    <script src="https://res.wx.qq.com/open/js/jweixin-1.0.0.js" type="text/javascript"></script>
    <script>
        wx.config({
            debug: false,
            // 开启调试模式,调用的所有api的返回值会在客户端alert出来，若要查看传入的参数，可以在pc端打开，参数信息会通过log打出，仅在pc端时才会打印。
            appId: $("#appId").text(),
            // 必填，公众号的唯一标识
            timestamp: $("#timeStamp").text(),
            // 必填，生成签名的时间戳
            nonceStr: $("#nonce").text(),
            // 必填，生成签名的随机串
            signature: $("#signature").text(),
            // 必填，签名，见附录1
            jsApiList: ["onMenuShareTimeline", "onMenuShareAppMessage", "onMenuShareQQ", "onMenuShareWeibo", "onMenuShareQZone"]
        });
        wx.ready(function () {
            wx.onMenuShareTimeline({
                title: '寿全斋2017年成都春糖会-参展商邀请函', // 分享标题
                link: 'https://event.shouquanzhai.cn/Promotion/Tjh_UserAttendanceStart?type=1', // 分享链接
                imgUrl: 'http://cdn.shouquanzhai.cn/Content/Fifv3dKQ7o35TXS0go3CyeiQTzVe.jpg', // 分享图标
                success: function () {
                    // 用户确认分享后执行的回调函数
                    alert("分享");
                },
                cancel: function () {
                    // 用户取消分享后执行的回调函数
                    alert("未分享");
                }
            });
            wx.onMenuShareAppMessage({
                title: '寿全斋2017年成都春糖会-参展商邀请函', // 分享标题
                desc: '', // 分享描述
                link: 'https://event.shouquanzhai.cn/Promotion/Tjh_UserAttendanceStart?type=1', // 分享链接
                imgUrl: 'http://cdn.shouquanzhai.cn/Content/Fifv3dKQ7o35TXS0go3CyeiQTzVe.jpg', // 分享图标
                type: '', // 分享类型,music、video或link，不填默认为link
                dataUrl: '', // 如果type是music或video，则要提供数据链接，默认为空
                success: function () {
                    // 用户确认分享后执行的回调函数
                },
                cancel: function () {
                    // 用户取消分享后执行的回调函数
                }
            });
            wx.onMenuShareQQ({
                title: '寿全斋2017年成都春糖会-参展商邀请函', // 分享标题
                desc: '', // 分享描述
                link: 'https://event.shouquanzhai.cn/Promotion/Tjh_UserAttendanceStart?type=1', // 分享链接
                imgUrl: 'http://cdn.shouquanzhai.cn/Content/Fifv3dKQ7o35TXS0go3CyeiQTzVe.jpg', // 分享图标
                success: function () {
                    // 用户确认分享后执行的回调函数

                },
                cancel: function () {
                    // 用户取消分享后执行的回调函数
                }
            });
            wx.onMenuShareWeibo({
                title: '寿全斋2017年成都春糖会-参展商邀请函', // 分享标题
                desc: '', // 分享描述
                link: 'https://event.shouquanzhai.cn/Promotion/Tjh_UserAttendanceStart?type=1', // 分享链接
                imgUrl: 'http://cdn.shouquanzhai.cn/Content/Fifv3dKQ7o35TXS0go3CyeiQTzVe.jpg', // 分享图标
                success: function () {
                    // 用户确认分享后执行的回调函数
                },
                cancel: function () {
                    // 用户取消分享后执行的回调函数
                }
            });
            wx.onMenuShareQZone({
                title: '寿全斋2017年成都春糖会-参展商邀请函', // 分享标题
                desc: '', // 分享描述
                link: 'https://event.shouquanzhai.cn/Promotion/Tjh_UserAttendanceStart?type=1', // 分享链接
                imgUrl: 'http://cdn.shouquanzhai.cn/Content/Fifv3dKQ7o35TXS0go3CyeiQTzVe.jpg', // 分享图标
                success: function () {
                    // 用户确认分享后执行的回调函数
                },
                cancel: function () {
                    // 用户取消分享后执行的回调函数
                }
            });
        });
        $(document).ready(function () {
            
            $('#fullpage').fullpage({
                autoScrolling: true,
                verticalCentered: false,
                css3: true,
                navigation: true,
                navigationPosition: 'right',
                navigationTooltips: ['第一页'],
                afterResponsive: function (isResponsive) {

                },
            });
        });
        $(window).resize(function () {
            var clientheight = $(window).height();
            var clientwidth = $(window).width();
            if (clientwidth == initwidth) {
                $(".ui-content").css("display", "none");
                $(".ui-content").css("z-index", "-1");
            } else {
                if (_clientwidth < clientheight && _clientwidth < clientwidth) {
                    $(".ui-content").css("display", "none");
                    $(".ui-content").css("z-index", "-1");
                } else {
                    if (clientheight < clientwidth) {
                        $(".ui-content").css("display", "block");
                        $(".ui-content").css("z-index", "999");
                    } else {
                        $(".ui-content").css("display", "none");
                        $(".ui-content").css("z-index", "-1");
                    }
                }
            }
        });
    </script>
</body>
</html>
