@model IEnumerable<SqzEvent.Models.Off_Store>
<div class="navbar">
    <div class="navbar-inner">
        <div class="left">
            <a href="#" class="back link">
                <i class="icon icon-back" aria-hidden="true"></i>
                <span>返回</span>
            </a>
        </div>
        <div class="center sliding">门店列表</div>
    </div>
</div>
<div class="pages">
    <div class="page" data-page="manager-storelist">
        <form class="searchbar">
            <div class="searchbar-input">
                <input type="search" placeholder="搜索">
                <a href="#" class="searchbar-clear"></a>
            </div>
            <a href="#" class="searchbar-cancel">取消</a>
        </form>
        <div class="searchbar-overlay"></div>
        <div class="page-content">
            <div class="content-block searchbar-not-found">
                查询信息不存在
            </div>
            <div class="content-block-title">店铺巡查（共<span>@Html.Encode(Model.Count())</span>家）</div>
            <div class="list-block list-block-search searchbar-found">
                <ul>
                    @foreach (var item in Model)
                    {
                        <li>
                            <a href="#" class="item-content item-link store_details" data-latitude ="@item.Latitude" data-longitude ="@item.Longitude" data-address = "@item.Address" data-storename ="@item.StoreName">
                                <div class="item-inner">
                                    <div class="item-title">@Html.Encode(item.Off_StoreSystem.SystemName + "-" + item.StoreName)</div>
                                    <div class="item-after">点击查看</div>
                                </div>
                            </a>
                        </li>
                    }
                </ul>
            </div>
        </div>
     </div>
</div>