@model IEnumerable<SqzEvent.Models.Off_CompetitionInfo>

@foreach (var item in Model)
{
    <li class="swipeout" data-url="@item.Id">
        <div class="swipeout-content">
            <a href="/Seller/Manager_CompetitionInfoDetails?id=@item.Id" class="item-content item-link">
                <div class="item-inner" style="background: url('../../fonts/right.svg') no-repeat; background-position:calc(100% - 15px) center;background-size:10px 20px">
                    <div class="item-title"><span>@Html.Encode(item.ApplicationDate.ToString("MM-dd"))</span>:@Html.Encode(item.Off_Store.Off_StoreSystem.SystemName+"-"+item.Off_Store.StoreName)</div>
                    <div class="item-subtitle color-gray padding-right-20 h6">信息状态：<span>@Html.Encode(Html.CompetitionInfoStatus(item.Status))</span></div>
                    <div class="item-subtitle color-gray h6">@Html.Encode(item.Remark)</div>
                </div>
            </a>
        </div>
        <div class="swipeout-actions-right">
            <a href="javascript:;" class="bg-green confirm-competitioninfo" data-url="@item.Id">确认</a>
            <a href="#" class="swipeout-delete" data-confirm="确定要作废该信息吗？" data-confirm-title="寿全斋" data-close-on-cancel="true">驳回</a>
        </div>
    </li>
}
