@model SqzEvent.Models.Off_Checkin
<div class="navbar">
    <div class="navbar-inner">
        <div class="left">
            <a href="#" class="back link">
                <i class="icon icon-back" aria-hidden="true"></i>
                <span>返回</span>
            </a>
        </div>
        <div class="center sliding"><strong>代提销(@Model.Off_Seller.Name)</strong></div>
    </div>
</div>
<div class="pages">
    <div class="page" data-page="manager-createcheckreport">
        <div class="page-content">
            <div class="list-block">
                <ul>
                    <li>
                        <div class="item-content">
                            <div class="item-inner">
                                <div class="item-title">@Model.Off_Seller.Off_Store.StoreName</div>
                                <div class="item-after">@Html.Encode(ViewBag.Subscribe.ToString("yyyy-MM-dd"))</div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
            @using (Html.BeginForm("Manager_CreateCheckReport", "Seller", FormMethod.Post, new { @id = "createcheckreport-form", @class = "validate-form" }))
            {
                @Html.AntiForgeryToken()
                @Html.HiddenFor(m => m.Id)
                @Html.HiddenFor(m => m.Off_Schedule_Id)
                @Html.HiddenFor(m => m.Status)
                @Html.HiddenFor(m => m.Proxy)
                @Html.HiddenFor(m => m.CheckinLocation)
                @Html.HiddenFor(m => m.CheckinTime)
                @Html.HiddenFor(m => m.CheckoutLocation)
                @Html.HiddenFor(m => m.CheckoutTime)
                @Html.HiddenFor(m => m.Report_Time)
                @Html.HiddenFor(m => m.CheckoutPhoto)
                @Html.HiddenFor(m => m.CheckinPhoto)
                @Html.HiddenFor(m => m.Confirm_Remark)
                <div class="content-block-title">提报信息</div>
                <div class="list-block">
                    <ul>
                        @{
                            Html.RenderAction("Manager_EditReport_Item", new { ScheduleId = Model.Off_Schedule_Id, id = 0 });
                        }
                        <li id="reportphoto-area">
                            <div class="item-content">
                                <div class="item-inner">
                                    <div class="item-title">上传提报照片</div>
                                    <div class="item-after"><abbr id="report-current-image">0</abbr>/7</div>
                                </div>
                            </div>
                            <div class="item-content">
                                <div class="item-inner">
                                    <div class="hidden">
                                        @Html.EditorFor(m => m.Rep_Image)
                                    </div>
                                    <ul class="rep-imglist" id="manager-report-imglist"></ul>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="content-block">
                    <a href="javascript:;" class="button button-big button-fill" id="createcheckreport-btn">提交</a>
                </div>
                            }
        </div>
    </div>
</div>
