@model IEnumerable<SqzEvent.Models.Wx_SellerTaskMonthStatistic>

<ul>
    @foreach (var item in Model)
    {
        <li>
            <a class="item-content manager-sellermonth" href="/Seller/Manager_SellerTaskSeller?id=@item.Off_Seller.Id">
                <div class="item-inner">
                    <div class="item-title-row">
                        <div class="item-title font-black">@item.Off_Seller.Name</div>
                    </div>
                    <div class="subtitle margin-top-7 font-black">@Html.Encode(@item.Off_Seller.Off_Store.Off_StoreSystem.SystemName+"-"+@item.Off_Seller.Off_Store.StoreName)</div>
                    @if (item.AttendanceCount < 60)
                {
                        <div class="color-red media-paddin-right-10 media-font-24 media-position-right">@item.AttendanceCount&nbsp;&nbsp;<i class="fa fa-angle-right media-arrowright-gray" aria-hidden="true"></i></div>
                    }
                    else
                    {
                        <div class="color-green media-paddin-right-10 media-font-24 media-position-right">@item.AttendanceCount&nbsp;&nbsp;<i class="fa fa-angle-right media-arrowright-gray" aria-hidden="true"></i></div>
                    }
                </div>
            </a>
        </li>
    }
</ul>