@model SqzEvent.Models.Off_SellerTask

<div class="navbar">
    <div class="navbar-inner">
        <div class="left">
            <a href="#" class="back link">
                <i class="icon icon-back" aria-hidden="true"></i>
                <span>返回</span>
            </a>
        </div>
        <div class="center sliding"><strong>签到详情</strong></div>
    </div>
</div>
<div class="pages">
    <div class="page" data-page="manager-tempsellerdetails">
        <div class="page-content">
            <div class="content-block-title">暗促签到详情</div>
            <div class="list-block">
                <ul>
                    <li>
                        <div class="item-content">
                            <div class="item-inner">
                                <div class="item-title">@Html.Encode(Model.Off_Store.StoreName)</div>
                                <div class="item-after">@Html.Encode(Model.Off_Seller.Name)</div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="item-content">
                            <div class="item-inner">
                                <div class="item-title">时间</div>
                                <div class="item-after">@Model.ApplyDate.ToString("yyyy-MM-dd")</div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="list-block">
                <ul>
                    <li>
                        <div class="item-content item-link ph-tempseller">
                            <div class="item-inner">
                                <div class="item-title">签到图片</div>
                                <div class="item-after">点击查看</div>
                            </div>
                        </div>
                    </li>
                    @foreach (var item in Model.Off_SellerTaskProduct)
                    {
                        <li>
                            <div class="item-content">
                                <div class="item-inner">
                                    <div class="item-title label">@Html.Encode(item.Off_Product.SimpleName)</div>
                                    <div class="item-input">
                                        @if (item.StorageCount > 0 && item.StorageCount <= 50) { 
                                            <input type="number" value="@Html.Encode(item.StorageCount)" disabled style="color:#f00"/>
                                        }
                                        else
                                        {
                                            <input type="number" value="@Html.Encode(item.StorageCount)" disabled />
                                        }
                                    </div>
                                </div>
                            </div>
                        </li>
                    }
                </ul>
            </div>
            <input class="hidden" id="sellertask-details-phlist" value="@Model.TaskPhotoList" />
        </div>
    </div>
</div>


