@model SqzEvent.Models.Wx_ManagerRecruitBindViewModel
<div class="navbar">
    <div class="navbar-inner">
        <div class="left">
            <a href="#" class="back link">
                <i class="icon icon-back" aria-hidden="true"></i>
                <span>返回</span>
            </a>
        </div>
        <div class="center sliding"><strong>信息绑定</strong></div>
        <div class="right">
            <a href="javascript:;" class="link" id="recruitbind-submit">提交</a>
        </div>
    </div>
</div>
<div class="pages">
    <div class="page" data-page="manager-recruitbind">
        <div class="page-content">
            @using (Html.BeginForm("Manager_RecruitBind", "Seller", FormMethod.Post, new { @id = "recruitbind-form", @class = "validate-form" }))
            {
                @Html.AntiForgeryToken()
                @Html.HiddenFor(m=>m.RecruitId)
                @Html.HiddenFor(m=>m.IdNumber)
                @Html.HiddenFor(m=>m.Mobile)
                @Html.HiddenFor(m=>m.Name)
                <div class="list-block">
                    <ul>
                        <li class="item-content">
                            <div class="item-inner">
                                <div class="item-title">姓名</div>
                                <div class="item-after">@Html.Encode(Model.Name)</div>
                            </div>
                        </li>
                        <li>
                            <a href="#" class="smart-select item-link" data-back-text="返回" data-back-on-select="true" data-searchbar-placeholder="店铺名称" data-searchbar-cancel="取消">
                                @Html.DropDownListFor(m => m.StoreId, ViewBag.StoreList as SelectList, "")
                                <div class="item-content">
                                    <div class="item-inner">
                                        <div class="item-title">选择门店</div>
                                        <div class="item-after smart-select-value">-请选择-</div>
                                    </div>
                                </div>
                            </a>
                        </li>
                    </ul>
                </div>
            }
        </div>
    </div>
</div>