@model SqzEvent.Models.Wx_RecruitViewModel
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no, minimal-ui">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <title>促销员招募</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/font-awesome.min.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>

</head>
<body>   
   <style>
       label{
           line-height:2.234;
       }
       label.control-label{
           padding-right:0;
       }
       form{
           margin-top:10px;
       }
       #get-verification{
           font-size:10px;
       }
      .get-verification-wrap{
          padding-top:2px;
          padding-left:0;
      }
      .btn-gary{
          background-color:#ccc;
          color:#fff;
      }
       #get-verification.focus, #get-verification:focus, #get-verification:hover {
           color: #fff;
           text-decoration: none;
           outline:none;
       }
       #CheckCode{
           padding-right:0;
       }
   </style>
    <div class="container">
        <br />
        <div class="row">
            <div class="col-xs-4 col-md-5"></div>
            <div class="col-xs-4 col-md-2" style="margin:0 auto;"><img class="img-responsive" src="~/Content/images/logo_new.png"></div>
            <div class="col-xs-4 col-md-5"></div>
        </div>
        <h3 class="text-center">注册</h3>
    </div>
    <div class="container">
        @using (Html.BeginForm("Recruit_Register", "Seller", FormMethod.Post, new { @id = "register-form", @class = "form-horizontal" }))
        {
            @Html.AntiForgeryToken()
            @Html.HiddenFor(m => m.AccessToken)
            @Html.HiddenFor(m => m.Open_Id)
            <div class="container">
                <div class="form-group  has-feedback">
                        <label for="Name" class="col-xs-3  control-label text-right">姓名</label>
                        <div class="col-xs-9">
                            @Html.TextBoxFor(m => m.Name, new { placeholder = "请输入真实姓名", @class = "form-control" })
                        </div>
                </div>
                <div class="form-group  has-feedback">
                    <label for="Mobile" class="col-xs-3 control-label text-right">手机号</label>
                    <div class="col-xs-9">
                        @Html.TextBoxFor(m => m.Mobile, new { maxlength = "11", placeholder = "手机号码(11位)", @class = "form-control" })
                    </div>
                </div>
                <div class="form-group  has-feedback">
                    <label for="RecommandCode" class="col-xs-3  control-label text-right">推荐码</label>
                    <div class="col-xs-9">
                        @Html.TextBoxFor(m => m.RecommandCode, new { placeholder = "输入推荐码(选填)", maxlength = "11", @class = "form-control" })
                    </div>
                </div>
                <div class="form-group  has-feedback">
                    <label for="inputPassword3" class="col-xs-3  control-label text-right">验证码</label>
                    <div class="col-xs-5">
                        @Html.TextBoxFor(m => m.CheckCode, new { placeholder = "验证码", maxlength = "6", @class = "form-control" })
                    </div>
                    <div class="col-xs-4  get-verification-wrap">
                        <button class="btn btn-primary btn-block" type="button" id="get-verification">获取验证码</button>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-2"></div>
                    <div class="col-xs-8"><a href="#" class="btn btn-primary  btn-block" role="button" id="register-btn">成为促销员</a></div>
                    <div class="col-xs-2"></div>
                </div>
            </div>
        }
    </div>
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title" id="myModalLabel">注册须知</h4>
                </div>
                <div class="modal-body">
                    <p>欢迎进入线下促销人员招募系统！</p>
                    <p>1. 请填写正确填写您的真实姓名以及手机号码，并点击获取验证码；输入手机收到的短信验证码以后，点击注册；</p>
                    <p>2. 如果是您的好友推荐您加入的，请填写您好友的推荐码；</p>
                    <p>3. 注册完成后，请填写您的身份证号码，同时选择您可工作区域以及可工作时间；</p>
                    <p>4. 提交信息后，请仔细阅读促销员的使用指南；</p>
                    <p>5. 请耐心等待，我们的督导会尽快电话与您确定工作安排；</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                </div>
            </div>
        </div>
    </div>
        <script>
            $('#myModal').modal({
            })
            $("input").each(function () {
                $(this).on("focus", function () {
                    $("#register-btn").removeClass("btn-default");
                    $(this).parent().parent().removeClass("has-error");
                    $(this).parent().parent().removeClass("has-success");
                    $(".form-control-feedback").remove("span");
                })
            })
            var word_type = /^[\u4e00-\u9fa5]{1,6}$/                                  //输入姓名正则
            var tel_type = /^(13[0-9]|14[0-9]|15[0-9]|18[0-9])\d{8}$/                 //电话号码正则
            var recommend_type = /^(13[0-9]|14[0-9]|15[0-9]|18[0-9])\d{8}$|^\d{0}$/   //推荐码正则
            var verification_type = /^\d{4,6}$/                                       //验证码正则
            /*获取验证码时对填入信息进行验证*/
            $("#get-verification").on("click", function () {
                $(".form-control-feedback").remove("span");
                var bool = true;
                if (!word_type.test($("#Name").val())) {
                    $("#Name").parent().parent().removeClass("has-success");
                    $("#Name").parent().parent().addClass("has-error");
                    $("#Name").after("<span class=\"glyphicon glyphicon-remove form-control-feedback\"></span>");
                    bool = false;
                } else {
                    $("#Name").parent().parent().removeClass("has-error");
                    $("#Name").parent().parent().addClass("has-success");
                    $("#Name").after("<span class=\"glyphicon glyphicon-ok form-control-feedback\"></span>");
                }
                if (!tel_type.test($("#Mobile").val())) {
                    $("#Mobile").parent().parent().removeClass("has-success");
                    $("#Mobile").parent().parent().addClass("has-error");
                    $("#Mobile").after("<span class=\"glyphicon glyphicon-remove form-control-feedback\"></span>");
                    bool = false;
                } else {
                    $("#Mobile").parent().parent().removeClass("has-error");
                    $("#Mobile").parent().parent().addClass("has-success");
                    $("#Mobile").after("<span class=\"glyphicon glyphicon-ok form-control-feedback\"></span>");
                }
                if (!recommend_type.test($("#RecommandCode").val())) {
                    $("#RecommandCode").parent().parent().removeClass("has-success");
                    $("#RecommandCode").parent().parent().addClass("has-error");
                    $("#RecommandCode").after("<span class=\"glyphicon glyphicon-remove form-control-feedback\"></span>");
                    bool = false;
                } else {
                    $("#RecommandCode").parent().parent().removeClass("has-error");
                    $("#RecommandCode").parent().parent().addClass("has-success");
                    $("#RecommandCode").after("<span class=\"glyphicon glyphicon-ok form-control-feedback\"></span>");
                }
                /*填入信息通过后获取短信*/
                if (bool) {
                    $.ajax({
                        url: "/Seller/Wx_SendSms",
                        data: {
                            mobile: $("#Mobile").val(),
                            __RequestVerificationToken: $("input[name=__RequestVerificationToken]").val()
                        },
                        type: "POST",
                        success: function (data) {
                        }
                    });
                    if ($("#get-verification").hasClass("btn-primary")) {
                        $("#get-verification").removeClass("btn-primary")
                        $("#get-verification").addClass("btn-gary")
                        $("#get-verification").html("已发送");
                        setTimeout(function () {
                            var count = 60;
                            var inner = "秒后重发";
                            var timer = setInterval(function () {
                                count--;
                                var counthtml = count + inner;
                                $("#get-verification").html(counthtml);
                                if (count == 0) {
                                    clearInterval(timer);
                                    $("#get-verification").addClass("btn-primary")
                                    $("#get-verification").removeClass("btn-gary")
                                    $("#get-verification").html("获取验证码");
                                }
                            }, 1000)
                        }, 500)
                    }                 
                }
            })
            /*点击提交按钮时验证*/
            $("#register-btn").on("click", function () {
                if (!$("#register-btn").hasClass("btn-default")) {
                    $("#register-btn").addClass("btn-default");
                    var verification = true;
                    if (!word_type.test($("#Name").val())) {
                        $("#Name").parent().parent().removeClass("has-success");
                        $("#Name").parent().parent().addClass("has-error");
                        $("#Name").after("<span class=\"glyphicon glyphicon-remove form-control-feedback\"></span>");
                        $("#register-btn").removeClass("btn-default");
                        verification = false;
                    } else {
                        $("#Name").parent().parent().removeClass("has-error");
                        $("#Name").parent().parent().addClass("has-success");
                        $("#Name").after("<span class=\"glyphicon glyphicon-ok form-control-feedback\"></span>");
                    }
                    if (!tel_type.test($("#Mobile").val())) {
                        $("#Mobile").parent().parent().removeClass("has-success");
                        $("#Mobile").parent().parent().addClass("has-error");
                        $("#Mobile").after("<span class=\"glyphicon glyphicon-remove form-control-feedback\"></span>");
                        $("#register-btn").removeClass("btn-default");
                        verification = false;
                    } else {
                        $("#Mobile").parent().parent().removeClass("has-error");
                        $("#Mobile").parent().parent().addClass("has-success");
                        $("#Mobile").after("<span class=\"glyphicon glyphicon-ok form-control-feedback\"></span>");
                    }
                    if (!recommend_type.test($("#RecommandCode").val())) {
                        $("#RecommandCode").parent().parent().removeClass("has-success");
                        $("#RecommandCode").parent().parent().addClass("has-error");
                        $("#RecommandCode").after("<span class=\"glyphicon glyphicon-remove form-control-feedback\"></span>");
                        $("#register-btn").removeClass("btn-default");
                        verification = false;

                    } else {
                        $("#RecommandCode").parent().parent().removeClass("has-error");
                        $("#RecommandCode").parent().parent().addClass("has-success");
                        $("#RecommandCode").after("<span class=\"glyphicon glyphicon-ok form-control-feedback\"></span>");
                    }
                    if (!verification_type.test($("#CheckCode").val())) {
                        $("#CheckCode").parent().parent().removeClass("has-success");
                        $("#CheckCode").parent().parent().addClass("has-error");
                        $("#CheckCode").after("<span class=\"glyphicon glyphicon-remove form-control-feedback\"></span>");
                        $("#register-btn").removeClass("btn-default");
                    } else {
                        $("#CheckCode").parent().parent().removeClass("has-error");
                        $("#CheckCode").parent().parent().addClass("has-success");
                        $("#CheckCode").after("<span class=\"glyphicon glyphicon-ok form-control-feedback\"></span>");
                    }
                    /*验证通过提交表单*/
                    if (verification) {
                        setTimeout(function () {
                            $("#register-form").submit();
                        }, 1e3)
                    }
                }

            })
        </script>
</body>
</html>
