@model SqzEvent.Models.Off_Checkin

<div class="navbar">
    <div class="navbar-inner">
        <div class="left">
            <a href="#" class="back link">
                <i class="fa fa-chevron-left" aria-hidden="true"></i>
                <span>返回</span>
            </a>
        </div>
        <div class="center sliding">促销员 签退</div>
    </div>
</div>
<div class="pages">
    <div class="page" data-page="seller-checkout">
        <div class="page-content">
            @using (Html.BeginForm("Seller_CheckOut", "Seller", FormMethod.Post, new { @id = "checkout_form", @class = "validate-form" }))
            {
                @Html.AntiForgeryToken()
                @Html.HiddenFor(m => m.Id)
                @Html.HiddenFor(m => m.Off_Seller_Id)
                @Html.HiddenFor(m => m.Off_Schedule_Id)
                @Html.HiddenFor(m => m.Status)
                @Html.HiddenFor(m => m.Proxy)
                @Html.HiddenFor(m => m.CheckinLocation)
                @Html.HiddenFor(m => m.CheckinPhoto)
                @Html.HiddenFor(m => m.CheckinTime)
                @Html.HiddenFor(m => m.CheckoutLocation)
                @Html.HiddenFor(m => m.CheckoutPhoto)
                @Html.HiddenFor(m => m.CheckoutTime)
                <div class="content-block-title">操作</div>
                <div class="list-block">
                    <ul>
                        <li>
                            <div class="item-content">
                                <div class="item-inner">
                                    <div class="item-title"><i class="fa fa-tags color-blue" aria-hidden="true"></i>&nbsp;&nbsp;下班编号</div>
                                    <div class="item-after"><span class="badge bg-red" id="datacode">@Html.Encode(ViewBag.datecode)</span></div>
                                </div>
                            </div>
                        </li>         
                        <li>
                            <div class="item-content" id="location-btn">
                                <div class="item-inner">
                                    <div class="item-title"><i class="fa fa-exclamation-circle color-blue" aria-hidden="true"></i>&nbsp;&nbsp;上传位置信息</div>
                                    <div class="item-after">未上传</div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="item-content" id="img-btn">
                                <div class="item-inner">
                                    <div class="item-title"><i class="fa fa-exclamation-circle color-blue" aria-hidden="true"></i>&nbsp;&nbsp;上传图片</div>
                                    <div class="item-after">未上传</div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="content-block">
                    <a href="javascript:;" class="button button-big button-fill" id="checkout-btn">提交</a>
                </div>
            }
        </div>
    </div>
</div>
