<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0 maximum-scale=1.0, user-scalable=0">
    <title>寿全斋 经期助手</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link href="~/Content/font-awesome.min.css" rel="stylesheet" />
    <link href="~/Content/PeriodAid.css" rel="stylesheet" />
    @RenderSection("header", required: false)
</head>
<body class="reset">
    @RenderBody()
    <div class="navbar navbar-fixed-bottom periodaid-navbar-bottom">
        <div class="container container-body">
            <div class="row">
                <div class="col-xs-4 text-center">
                    <a href="/PeriodAid/Index" id="nav-calendar">
                        <i class="fa fa-calendar fa-2x nav-button"></i><br />
                        日历
                    </a>
                </div>
                <div class="col-xs-4 text-center">
                    <a href="/PeriodAid/SaleOff" id="nav-event">
                        <i class="fa fa-heart fa-2x nav-button"></i><br />
                        活动
                    </a>
                </div>
                <div class="col-xs-4 text-center">
                    <a href="/PeriodAid/UserHome" id="nav-user">
                        <i class="fa fa-user fa-2x nav-button"></i><br />
                        我
                    </a>
                </div>

            </div>
        </div>
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    
    <script src="~/Scripts/PeriodAid.js"></script>
    @RenderSection("scripts", required: false)
</body>
</html>
