@model SqzEvent.Models.Wx_PressConferenceOrderViewModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>2016寿全斋品牌发布会</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <style type="text/css">
        body {
            background: url(/Content/Content/images/background_pc.png);
            margin: 30px 0 20px 0px;
        }

        .container-body {
            margin: auto;
        }

        .primary {
            color: #ff4361;
        }

        .login-logo {
            width: 200px;
            margin: auto;
        }
        .white-font{
            color:#fff;
        }
    </style>
</head>
<body>
    <div class="container container-body">
        <div class="row">
            <div class="col-xs-1"></div>
            <div class="col-xs-10">
                <img src="~/Content/Content/images/title_bc.png" class="img-responsive" />
            </div>
            <div class="col-xs-1"></div>
        </div>
        <br />
        <div class="row">
            <div class="col-xs-4"></div>
            <div class="text-center col-xs-4">
                <div class="login-logo img-responsive">
                    <img src="@Html.Encode((ViewBag.headimgurl as string).Replace("http://","https://"))" class="img-responsive img-circle" />
                </div>
            </div>
            <div class="col-xs-4"></div>
        </div>
        <div class="row">
            <div class="col-xs-1">

            </div>
            <div class="col-xs-10 text-center">
                <h4 class="white-font">@Html.Encode(ViewBag.company)</h4>
            </div>
            <div class="col-xs-1">

            </div>
        </div>
        <div class="row">
            <br />
            <div class="col-xs-2"></div>
            <div class="col-xs-8">
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()
                    <div class="form-horizontal">
                        <div class="form-group">
                            <div class="input-group">
                                @Html.EditorFor(model => model.Amount, new { htmlAttributes = new { @class = "form-control input-lg col-xs-9", @placeholder = "下单金额", type = "number", value = "", maxlength = "4" } })
                                <div class="input-group-addon">&nbsp;万元&nbsp;</div>
                            </div>
                            @Html.ValidationMessageFor(model => model.Amount, "", new { @class = "white-font" })
                        </div>

                        @Html.HiddenFor(model => model.Open_Id)
                        @Html.HiddenFor(model => model.Name)
                        @Html.HiddenFor(model => model.ImgUrl)
                        <br />
                        <div class="form-group text-center">
                            <input type="submit" value="&nbsp;&nbsp;&nbsp;&nbsp;提&nbsp;&nbsp;交&nbsp;&nbsp;&nbsp;&nbsp;" id="submit-btn" class="btn btn-default btn-success btn-pr btn-lg" />
                            <input type="button" value="&nbsp;&nbsp;&nbsp;&nbsp;提交中...&nbsp;&nbsp;&nbsp;&nbsp;" id="submited" class="btn btn-success btn-pr btn-lg disabled" style="display:none;" />
                        </div>
                    </div>
                }
            </div>
            <div class="col-xs-2"></div>
        </div>
    </div>
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script>
        var _b = true;
        if (_b) {
            $("#submit-btn").click(function () {
                _b = false;
                if (confirm("是否确认提交订单?")) {
                    $(this).hide();
                    $("#submited").show();
                    setTimeout(function () {
                        $("form").submit();
                        
                    }, 500);
                }
                return false;
            });
        }
    </script>
</body>
</html>

