@model SqzEvent.Models.Wx_PressConferenceRegisterViewModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>2016寿全斋品牌发布会</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <style type="text/css">
        body {
            background: url(/Content/images/background_pc.png);
            margin: 30px 0 20px 0px;
        }

        .container-body {
            margin: auto;
        }

        .primary {
            color: #ff4361;
        }

        .login-logo {
            width: 200px;
            margin: auto;
        }
        .white-font{
            color:#fff;
        }
    </style>
</head>
<body>
    <div class="container container-body">
        <div class="row">
            <div class="col-xs-1"></div>
            <div class="col-xs-10">
                <img src="~/Content/images/title_bc.png" class="img-responsive" />
            </div>
            <div class="col-xs-1"></div>
        </div>
        <br />
        <div class="row">
            <div class="col-xs-4"></div>
            <div class="text-center col-xs-4">
                <div class="login-logo img-responsive">
                    <img src="/Content/images/logo-white.png" class="img-responsive img-circle" />
                </div>
            </div>
            <div class="col-xs-4"></div>
        </div>
        <div class="row">
            <div class="col-xs-1">

            </div>
            <div class="col-xs-10 text-center">
                <h4 class="white-font">寿全斋</h4>
            </div>
            <div class="col-xs-1">

            </div>
        </div>
        <div class="row">
            <br />
            <div class="col-xs-2"></div>
            <div class="col-xs-8">
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()
                    <div class="form-horizontal">
                        <div class="form-group">
                            @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control input-lg", @placeholder = "姓名" } })
                            @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group">
                            @Html.EditorFor(model => model.CompanyName, new { htmlAttributes = new { @class = "form-control input-lg", @placeholder = "公司名称" } })
                            @Html.ValidationMessageFor(model => model.CompanyName, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group">
                            @Html.EditorFor(model => model.Mobile, new { htmlAttributes = new { @class = "form-control input-lg", @placeholder = "手机号码" } })
                            @Html.ValidationMessageFor(model => model.Mobile, "", new { @class = "text-danger" })
                        </div>
                        @Html.HiddenFor(model=>model.Open_Id)
                        @Html.HiddenFor(model=>model.NickName)
                        @Html.HiddenFor(model=>model.HeadImgUrl)
                        @Html.HiddenFor(model=>model.AccessToken)
                        @Html.HiddenFor(model=>model.Sex)
                        <br />
                        <div class="form-group text-center">
                            <input type="submit" value="&nbsp;&nbsp;&nbsp;&nbsp;注&nbsp;&nbsp;册&nbsp;&nbsp;&nbsp;&nbsp;" id="submit-btn" class="btn btn-success btn-pr btn-lg" />
                            <input type="button" value="&nbsp;&nbsp;&nbsp;&nbsp;提交中...&nbsp;&nbsp;&nbsp;&nbsp;" id="submited" class="btn btn-success btn-pr btn-lg disabled" style="display:none;" />
                        </div>
                    </div>
                }
            </div>
            <div class="col-xs-2"></div>
        </div>
    </div>
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script>
        $("#submit-btn").click(function () {
            $(this).hide();
            $("#submited").show();
            setTimeout(function () {
                $("form").submit();
            }, 500);
            return false;
        });
    </script>
</body>
</html>


