@model SqzEvent.Models.Wx_PressConferenceOrderViewModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>寿全斋1024盛典-下单</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <style type="text/css">
        body {
            background: #eee;
            margin: 50px 0 20px 0px;
        }

        .container-body {
            margin: auto;
        }

        .primary {
            color: #ff4361;
        }

        .login-logo {
            width: 200px;
            margin: auto;
        }
    </style>
</head>
<body>
    <div class="container container-body">
        <div class="row">
            <div class="col-xs-3"></div>
            <div class="text-center col-xs-6">
                <div class="login-logo img-responsive">
                    <img src="~/Content/images/period-aid-logo.png" class="img-responsive img-circle" />
                    <h4 class="primary">寿全斋1024活动盛典 下单</h4>
                </div>
            </div>
            <div class="col-xs-3"></div>
        </div>
        <div class="row">
            <br />
            <div class="col-xs-2"></div>
            <div class="col-xs-8">
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()
                    <div class="form-horizontal">
                        <div class="form-group">
                            <div class="input-group">
                                @Html.EditorFor(model => model.Amount, new { htmlAttributes = new { @class = "form-control input-lg col-xs-9", @placeholder = "下单金额", type = "number", value = "", maxlength = "4" } })
                                <div class="input-group-addon">&nbsp;万元&nbsp;</div>
                            </div>
                        </div>

                        @Html.HiddenFor(model => model.Open_Id)
                        @Html.HiddenFor(model => model.Name)
                        @Html.HiddenFor(model => model.ImgUrl)
                        <br />
                        <div class="form-group text-center">
                            <input type="submit" value="&nbsp;&nbsp;&nbsp;&nbsp;提&nbsp;&nbsp;交&nbsp;&nbsp;&nbsp;&nbsp;" id="submit-btn" class="btn btn-default btn-danger btn-pr btn-lg" />
                            <input type="button" value="&nbsp;&nbsp;&nbsp;&nbsp;提交中...&nbsp;&nbsp;&nbsp;&nbsp;" id="submited" class="btn btn-danger btn-pr btn-lg disabled" style="display:none;" />
                        </div>
                    </div>
                }
            </div>
            <div class="col-xs-2"></div>
        </div>
    </div>
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script>
        $("#submit-btn").click(function () {
            if (confirm("是否确认提交订单?")) {
                $(this).hide();
                $("#submited").show();
                setTimeout(function () {
                    $("form").submit();
                }, 500);
            }
            return false;
        });
    </script>
</body>
</html>

