@model SqzEvent.Models.Off_CompetitionInfo

<div class="navbar">
    <div class="navbar-inner">
        <div class="left">
            <a href="#" class="back link">
                <i class="icon icon-back" aria-hidden="true"></i>
                <span>返回</span>
            </a>
        </div>
        <div class="center sliding"><strong>竞品信息详情</strong></div>
    </div>
</div>
<div class="pages">
    <div class="page" data-page="manager-comeptitioninfodetails" id="manager-comeptitioninfodetails">
        <div class="page-content">
            <div class="list-block">
                <ul>
                    <li class="item-content">
                        <div class="item-inner">
                            <div class="item-title label">门店</div>
                            <div class="item-after">@Html.Encode(Model.Off_Store.StoreName)</div>
                        </div>
                    </li>
                    <li class="item-content">
                        <div class="item-inner">
                            <div class="item-title">促销员</div>
                            <div class="item-after">@Html.Encode(Model.NickName)</div>
                        </div>
                    </li>
                    <li class="item-content">
                        <div class="item-inner">
                            <div class="item-title label">提交日期</div>
                            <div class="item-after">@Html.Encode(Model.ApplicationDate.ToString("MM-dd"))</div>
                        </div>
                    </li>
                    <li>
                        <a class="item-content item-link checkin-photos" href="javascript:;" data-photos="@Html.Encode(Model.CompetitionImage)">
                            <div class="item-inner">
                                <div class="item-title">竞品图片</div>
                                <div class="item-after">查看图片</div>
                            </div>
                        </a>
                    </li>
                    <li>
                        <div class="item-content">
                            <div class="item-inner">
                                <div class="item-title-row">
                                    <div class="item-title text-font-1">备注信息</div>
                                    <p class="color-gray text-font-1">@Html.Encode(Model.Remark)</p>
                                </div>                                
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

