@model SqzEvent.Models.Off_Checkin

<div class="navbar">
    <div class="navbar-inner">
        <div class="left">
            <a href="#" class="back link">
                <i class="icon icon-back" aria-hidden="true"></i>
                <span>返回</span>
            </a>
        </div>
        <div class="center sliding"><strong>备注信息</strong></div>
    </div>
</div>
<div class="pages">
    <div class="page" data-page="manager-bonusremark" id="manager-bonusremark">
        <div class="page-content">
            @using (Html.BeginForm("Manager_CheckinBonusRemark", "Seller", FormMethod.Post, new { @id = "bonusremark-form", @class = "validate-form" }))
            {
                @Html.AntiForgeryToken()
                @Html.HiddenFor(m => m.Off_Seller_Id)
                @Html.HiddenFor(m => m.Id)
                @Html.HiddenFor(m => m.Off_Schedule_Id)
                @Html.HiddenFor(m => m.Status)
                @Html.HiddenFor(m => m.Proxy)
                @Html.HiddenFor(m => m.CheckinLocation)
                @Html.HiddenFor(m => m.CheckinPhoto)
                @Html.HiddenFor(m => m.CheckinTime)
                @Html.HiddenFor(m => m.CheckoutLocation)
                @Html.HiddenFor(m => m.CheckoutPhoto)
                @Html.HiddenFor(m => m.CheckoutTime)
                @Html.HiddenFor(m => m.Report_Time)
                @Html.HiddenFor(m => m.Rep_Image)
                @Html.HiddenFor(m=>m.Remark)
                @Html.HiddenFor(m=>m.Confirm_Remark)
                <div class="content-block-title">基本信息</div>
                <div class="list-block">
                    <ul>
                        <li>
                            <div class="item-content">
                                <div class="item-inner">
                                    <div class="item-title">@Html.Encode(Model.Off_Checkin_Schedule.Off_Store.StoreName)</div>
                                    <div class="item-after">@Html.Encode(Model.Off_Checkin_Schedule.Subscribe.ToString("yyyy-MM-dd"))</div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="item-content">
                                <div class="item-inner">
                                    <div class="item-title">@Html.Encode(Model.Off_Seller.Name)</div>
                                    <div class="item-after">@Html.Encode(Model.Off_Seller.Mobile)</div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="content-block-title">红包奖励信息</div>
                <div class="list-block">
                    <ul>
                        <li>
                            <div class="item-content">
                                <div class="item-inner">
                                    <div class="item-title label">红包金额</div>
                                    <div class="item-input">
                                        @Html.TextBoxFor(m => m.Bonus, new { placeholder = "请输入红包金额", type = "number" })
                                    </div>
                                </div>
                            </div>
                        </li>
                        </ul>
                    </div>
                    <div class="list-block media-list">
                        <ul>
                        <li>
                            <div class="item-content">
                                <div class="item-inner">
                                    @Html.TextAreaFor(m=>m.Bonus_Remark, new { placeholder="请输入备注信息", @class="required"})
                                    <div class="item-title-row">
                                        <div class="item-title"></div>
                                        <div class="item-after"><span id="confirmremark_length">0</span>/100</div>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="content-block">
                    <a href="javascript:;" class="button button-big button-fill" id="bonusremark-btn">提交</a>
                </div>
            }
        </div>
    </div>
</div>