@model IEnumerable<SqzEvent.Models.Wx_ManagerReportListViewModel>

<div class="content-block-title">
    @Html.Encode(ViewBag.Today.ToString("MM-dd")):&nbsp;当天累计红包 @Model.Count(m => m.Bonus > 0) 个，合计 @String.Format("{0:F}", Model.Sum(m => m.Bonus)) 元
</div>
<div class="list-block media-list">
    <ul>
        @foreach (var item in Model.OrderByDescending(m => m.Rep_Total))
        {
            <li class="swipeout">
                <div class="swipeout-content">
                    <a href="/Seller/Manager_ViewConfirm/@item.Id" class="item-content item-link">
                        <div class="item-inner" style="background: url('../../fonts/right.svg') no-repeat; background-position:calc(100% - 15px) center;background-size:10px 20px">
                            @if (item.Status == 4)
                            {
                                <div class="item-title">@Html.Encode(item.StoreName)</div>
                            }
                            else {
                                <div class="item-title color-green">@Html.Encode(item.StoreName)</div>
                            }
                            @if (item.Bonus != null)
                            {
                                <i class="fa fa-gift color-red"></i> @Html.Encode(item.Bonus + "元")
                            }
                            <div class="item-subtitle color-gray margin-top-3">
                                <i class="fa fa-user"></i>&nbsp;@Html.Encode(item.SellerName)&nbsp;&nbsp;|&nbsp;&nbsp;<i class="fa fa-history"></i>&nbsp;@Html.Encode(item.AVG_Total)&nbsp;&nbsp;|&nbsp;&nbsp;<i class="fa fa-tags"></i>&nbsp;@Html.Encode(item.Rep_Total)&nbsp;&nbsp;|&nbsp;&nbsp;<i class="fa fa-suitcase" aria-hidden="true"></i>&nbsp;@Html.Encode(Html.CheckinStatus(item.Status))
                            </div>
                        </div>
                    </a>
                </div>
                @if (item.Status == 4) {
                <div class="swipeout-actions-right">
                    <a href="/Seller/Manager_CheckinBonusRemark?id=@item.Id" class="bg-green random-param">发红包</a>
                </div>
                }
            </li>
        }
    </ul>
</div>
