@model SqzEvent.Models.Off_Manager_CheckIn

<div class="navbar">
    <div class="navbar-inner">
        <div class="left">
            <a href="#" class="back link">
                <i class="icon icon-back" aria-hidden="true"></i>
                <span>返回</span>
            </a>
        </div>
        <div class="center sliding">添加签到信息</div>
    </div>
</div>
<div class="pages">
    <div class="page" data-page="manager-task-addcheckin" id="manager-task-addcheckin">
        <div class="page-content">
            @using (Html.BeginForm("Manager_AddCheckin", "Seller", FormMethod.Post, new { @id = "addcheckin_form", @class = "validate-form" }))
            {
                @Html.AntiForgeryToken()
                @Html.HiddenFor(m => m.Id)
                @Html.HiddenFor(m => m.Location)
                @Html.HiddenFor(m => m.Location_Desc)
                @Html.HiddenFor(m => m.CheckIn_Time)
                <div class="content-block-title">操作</div>
                <div class="list-block">
                    <ul>
                        <li>
                            <a href="javascript:;" class="item-link item-content" id="location-btn">
                                <div class="item-inner">
                                    <div class="item-title">上传位置信息</div>
                                    <div class="item-after">未上传</div>
                                </div>
                            </a>
                        </li>
                        <li>
                            <div class="item-content">
                                <div class="item-inner">
                                    <div class="item-title">上传照片</div>
                                    <div class="item-after"><abbr id="current_image">0</abbr>/3</div>
                                </div>
                            </div>
                            <div class="item-content" id="photo-list">
                                <div class="item-inner">
                                    <div class="hidden">
                                        @Html.EditorFor(m => m.Photo)
                                    </div>
                                    <ul class="rep-imglist" id="manager-imglist"></ul>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="item-content">
                                @Html.TextAreaFor(m => m.Remark, new { placeholder = "请输入签到备注", @class = "required" })
                            </div>
                            <div class="item-content">
                                <div class="item-inner">
                                    <div class="item-title"></div>
                                    <div class="item-after"><span id="checkin-currentlength">0</span>/<span>50</span></div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="content-block">
                    <a href="javascript:;" class="button button-big button-fill" id="addcheckin-btn">提交</a>
                </div>
            }
        </div>

    </div>
</div>
