@model SqzEvent.Models.Wx_ReportItemsViewModel


@if (Model.StorageRequired && Model.AmountRequried)
{
    <li>
        <div class="item-content">
            <div class="item-inner row">
                <div class="col-25">商品简称</div>
                <div class="col-25 input-margin">销量</div>
                <div class="col-25 input-margin">库存</div>
                <div class="col-25 input-margin">销售额</div>
            </div>
        </div>
    </li>
}
else if (Model.StorageRequired)
{
    <li>
        <div class="item-content">
            <div class="item-inner row">
                <div class="col-30">商品简称</div>
                <div class="col-35 input-margin">销量</div>
                <div class="col-35 input-margin">库存</div>
            </div>
        </div>
    </li>
}
else if (Model.AmountRequried)
{
    <li>
        <div class="item-content">
            <div class="item-inner row">
                <div class="col-30">商品简称</div>
                <div class="col-35 input-margin">销量</div>
                <div class="col-35 input-margin">销售额</div>
            </div>
        </div>
    </li>
}
else
{
    <li>
        <div class="item-content">
            <div class="item-inner row">
                <div class="col-30">商品简称</div>
                <div class="col-70 input-margin">销量</div>
            </div>
        </div>
    </li>
}
@foreach (var item in Model.ProductList)
{

    if (Model.StorageRequired && Model.AmountRequried)
    {
        <li>
            <div class="item-content">
                <div class="item-inner row">
                    <div class="col-25">@Html.Encode(item.SimpleName)</div>
                    <div class="col-25 input-margin">@Html.Encode(item.SalesCount)</div>
                    <div class="col-25 input-margin">@Html.Encode(item.Storage)</div>
                    <div class="col-25 input-margin">@Html.Encode(item.SalesAmount)</div>
                </div>
            </div>
        </li>
    }
    else if (Model.StorageRequired)
    {
        <li>
            <div class="item-content">
                <div class="item-inner row">
                    <div class="col-30">@Html.Encode(item.SimpleName)</div>
                    <div class="col-35 input-margin">@Html.Encode(item.SalesCount)</div>
                    <div class="col-35 input-margin">@Html.Encode(item.Storage)</div>
                    <div class="hidden">@Html.Encode(item.SalesAmount)</div>
                </div>
            </div>
        </li>
    }
    else if (Model.AmountRequried)
    {
        <li>
            <div class="item-content">
                <div class="item-inner row">
                    <div class="col-30">@Html.Encode(item.SimpleName)</div>
                    <div class="col-35 input-margin">@Html.Encode(item.SalesCount)</div>
                    <div class="col-35 input-margin">@Html.Encode(item.SalesAmount)</div>
                    <div class="hidden">@Html.Encode(item.Storage)</div>
                </div>
            </div>
        </li>
    }
    else
    {
        <li>
            <div class="item-content">
                <div class="item-inner row">
                    <div class="col-30">@Html.Encode(item.SimpleName)</div>
                    <div class="col-70 input-margin">@Html.Encode(item.SalesCount)</div>
                    <div class="hidden">@Html.Encode(item.SalesAmount)</div>
                    <div class="hidden">@Html.Encode(item.Storage)</div>
                </div>
            </div>
        </li>
    }
}



