@model IEnumerable<SqzEvent.Models.Off_SellerTask>

@foreach (var item in Model)
{
    <li class="swipeout">
        <div class="swipeout-content">
            <a href="/Seller/SellerTask_Details?id=@item.Id" class="item-content item-link">
                <div class="item-media">
                    @{
                        Html.RenderAction("SellerTask_ListPhoto", new { imglist = item.TaskPhotoList });
                    }
                </div>
                <div class="item-inner">
                    <div class="item-title-row">
                        @*<div class="item-title">@item.LastUpdateUser</div>*@
                        <div>@Html.Encode(item.Off_Store.StoreName)</div>
                    </div>
                    <div class="item-subtitle color-gray">
                        <span class="item-storeid">剩余库存: @Html.Encode(item.Off_SellerTaskProduct.Sum(m => m.StorageCount))</span>
                        <span class="item-sellerid" style="float:right">@Html.Encode(item.ApplyDate.ToString("MM-dd"))</span>
                    </div>
                </div>
            </a>
        </div>
        <div class="swipeout-actions-right">
            @Html.ActionLink("修改", "SellerTask_EditSellerTask", "Seller", new { id = item.Id }, new { @class = "bg-green" })
        </div>
    </li>
}
