@model SqzEvent.Models.Off_CompetitionInfo

<div class="navbar">
    <div class="navbar-inner">
        <div class="left">
            <a href="#" class="back link">
                <i class="fa fa-chevron-left" aria-hidden="true"></i>
                <span>返回</span>
            </a>
        </div>
        <div class="center sliding">竞品信息提报</div>
    </div>
</div>
<div class="pages">
    <div class="page" data-page="seller-createcompetitioninfo">
        <div class="page-content">
            @using (Html.BeginForm("Seller_CreateCompetitionInfo", "Seller", FormMethod.Post, new { @class = "validate-form", @id = "createcompetitioninfo-form" }))
            {
                @Html.AntiForgeryToken()
                @Html.HiddenFor(m=>m.Id)
                @Html.HiddenFor(m => m.ApplicationDate)
                @Html.HiddenFor(m => m.BonusAmount)
                @Html.HiddenFor(m => m.BonusApplyDate)
                @Html.HiddenFor(m => m.BonusApplyUser)
                @Html.HiddenFor(m => m.CompetitionImage)
                @Html.HiddenFor(m => m.Mch_BillNo)
                @Html.HiddenFor(m => m.NickName)
                @Html.HiddenFor(m => m.ReceiveOpenId)
                @Html.HiddenFor(m=>m.ReceiveUserName)
                @Html.HiddenFor(m=>m.Status)
                @Html.HiddenFor(m=>m.StoreId)
                <div class="list-block media-list">
                    <ul>
                        <li>
                            <div class="item-content">
                                <div class="item-inner">
                                    <div class="item-title-row">
                                        <div class="item-title">图片上传</div>
                                        <div class="item-after"><span id="report-imgcount"></span>/<span>5</span></div>
                                    </div>
                                    <div class="subtitle">
                                        <ul class="rep-imglist" id="report-imglist"></ul>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="item-content">
                                <div class="item-inner">
                                    @Html.TextAreaFor(m =>m.Remark, new { rows = "3", placeholder = "请输入简报" })
                                    <div class="item-title-row">
                                        <div class="item-title"></div>
                                        <div class="item-after"><span id="report-current">0</span>/<span>500</span></div>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="content-block">
                    <a href="javascript:;" class="button button-big button-fill" id="createcompetitioninfo-btn">提交</a>
                </div>
            }
        </div>
    </div>
</div>

