@model SqzEvent.Models.Wx_ReportItemsViewModel

@foreach (var item in Model.ProductList)
{
    if (Model.StorageRequired && Model.AmountRequried)
    {
        <li>
            <div class="item-content">
                <div class="item-inner row">
                    <div class="col-25">@Html.Encode(item.SimpleName)</div>
                    <div class="col-25 input-margin"><input type="number" placeholder="销量" name="sales_@item.ProductId" id="sales_@item.ProductId" value="@item.SalesCount" /></div>
                    <div class="col-25 input-margin"><input type="number" placeholder="库存" name="storage_@item.ProductId" id="storage_@item.ProductId" value="@item.Storage" /></div>
                    <div class="col-25 input-margin"><input type="number" placeholder="销售额" name="amount_@item.ProductId" id="amount_@item.ProductId" value="@item.SalesAmount" /></div>
                </div>
            </div>
        </li>
    }
    else if (Model.StorageRequired)
    {
        <li>
            <div class="item-content">
                <div class="item-inner row">
                    <div class="col-30">@Html.Encode(item.SimpleName)</div>
                    <div class="col-35 input-margin"><input type="number" placeholder="销量" name="sales_@item.ProductId" id="sales_@item.ProductId" value="@item.SalesCount" /></div>
                    <div class="col-35 input-margin"><input type="number" placeholder="库存" name="storage_@item.ProductId" id="storage_@item.ProductId" value="@item.Storage" /></div>
                    <div class="hidden"><input type="number" placeholder="销售额" name="amount_@item.ProductId" id="amount_@item.ProductId" value="@item.SalesAmount" /></div>
                </div>
            </div>
        </li>
    }
    else if (Model.AmountRequried)
    {
        <li>
            <div class="item-content">
                <div class="item-inner row">
                    <div class="col-30">@Html.Encode(item.SimpleName)</div>
                    <div class="col-35 input-margin"><input type="number" placeholder="销量" name="sales_@item.ProductId" id="sales_@item.ProductId" value="@item.SalesCount" /></div>
                    <div class="col-35 input-margin"><input type="number" placeholder="销售额" name="amount_@item.ProductId" id="amount_@item.ProductId" value="@item.SalesAmount" /></div>
                    <div class="hidden"><input type="number" placeholder="库存" name="storage_@item.ProductId" id="storage_@item.ProductId" value="@item.Storage" /></div>
                </div>
            </div>
        </li>
    }
    else
    {
        <li>
            <div class="item-content">
                <div class="item-inner row">
                    <div class="col-30">@Html.Encode(item.SimpleName)</div>
                    <div class="col-70 input-margin"><input type="number" placeholder="销量" name="sales_@item.ProductId" id="sales_@item.ProductId" value="@item.SalesCount" /></div>
                    <div class="hidden"><input type="number" placeholder="销售额" name="amount_@item.ProductId" id="amount_@item.ProductId" value="@item.SalesAmount" /></div>
                    <div class="hidden"><input type="number" placeholder="库存" name="storage_@item.ProductId" id="storage_@item.ProductId" value="@item.Storage" /></div>
                </div>
            </div>
        </li>
    }
}