@model IEnumerable<SqzEvent.Models.Off_SalesInfo_Daily>

<div class="content-block-title">汇总统计:<span id="current-month"></span></div>
<div class="list-block">
    <ul>
        <li>
            <div class="item-content">
                <div class="item-inner">
                    <div class="item-title">累计出勤天数</div>
                    <div class="item-after">@String.Format("{0:0} 天", @Model.Count(m => m.Attendance != null))</div>
                </div>
            </div>
        </li>
        <li>
            <div class="item-content">
                <div class="item-inner">
                    <div class="item-title">累计工资</div>
                    <div class="item-after">@String.Format("{0:0.00} 元", Model.Where(m => m.Attendance != null).Sum(n => n.Salary))</div>
                </div>
            </div>
        </li>
        <li>
            <div class="item-content">
                <div class="item-inner">
                    <div class="item-title">累计奖金</div>
                    <div class="item-after">@String.Format("{0:0.00} 元", Model.Where(m => m.Attendance != null).Sum(n => n.Bonus))</div>
                </div>
            </div>
        </li>
        <li>
            <div class="item-content">
                <div class="item-inner">
                    <div class="item-title">扣款</div>
                    <div class="item-after">@String.Format("{0:0.00} 元", Model.Where(m => m.Attendance != null).Sum(n => n.Debit))</div>
                </div>
            </div>
        </li>
    </ul>
</div>
<div class="content-block-title">明细</div>
@if (Model.Count() == 0)
{
    <div class="content-block-title">当月无考核明细 </div>
}
else {
    <div class="list-block">
        <ul>
            @foreach (var item in Model)
            {
                <li>
                    <a href="/Seller/Seller_ConfirmedDetails?id=@item.Id" class="item-content item-link">
                        <div class="item-inner">
                            <div class="item-title">@item.Date.ToString("MM-dd")</div>
                            <div class="item-after">@Html.AttendanceStatus(item.Attendance ?? 0)</div>
                        </div>
                    </a>
                </li>
            }
        </ul>
    </div>
}
