@model SqzEvent.Models.Off_WeekendBreakRecord
@{
    Layout = "~/Views/Shared/_WeekendBreak.cshtml";
    IEnumerable<SqzEvent.Models.Off_WeekendBreakRecord> records = ViewBag.OldRecord;
}
<div class="table-responsive">
    <table class="table">
        <tr>
            <td>累计销量</td>
            <td>修改前</td>
            <td id="before-sale">@Html.Encode(records.Sum(m=>m.SalesCount))</td>
            <td>修改后</td>
            <td id="after-sale">@Html.Encode(records.Sum(m => m.SalesCount))</td>
        </tr>
        <tr>
            <td>累计试饮</td>
            <td>修改前</td>
            <td id="before-try">@Html.Encode(records.Sum(m => m.TrailCount))</td>
            <td>修改后</td>
            <td id="after-try">@Html.Encode(records.Sum(m => m.TrailCount))</td>
        </tr>
    </table>
</div>
@using (Html.BeginForm("WeekendBreak_AddRecord", "WeekendBreak", FormMethod.Post, new { @class = "form", @role = "form", @id = "add-form" }))
{
    @Html.AntiForgeryToken()
    <input value="@ViewBag.ScheduleId" type="hidden" id="ScheduleId"  name="ScheduleId"/>
    @Html.HiddenFor(m=>m.WeekendBreakId)
    <div class="partial"></div>
    <div class="table-responsive">
        <table class="table">
            <tr>
                <th>试饮数</th>
                <th class="text-center">新增</th>
            </tr>
            <tr class="list">
                <td class="sum-try sum-same">@Html.Encode(records.Sum(m=>m.TrailCount))</td>
                <td>
                    <div class="input-group">
                        <span class="input-group-addon addtry" data-step="10">+</span>
                        <input type="tel" class="form-control text-center try-input" name="TrailCount" id="TrailCount">
                        <span class="input-group-addon reducetry" data-step="10">-</span>
                    </div>
                </td>
            </tr>
        </table>
    </div>

}
<div class="col-xs-12 padding-10">
    <a class="btn btn-primary btn-block gary-color" id="data-submit">提交</a>
</div>
<div class="col-xs-12 padding-10">
    <a class="btn btn-primary btn-block" id="return-submit" href="/WeekendBreak/WeekendBreak_Home?breakId=@Model.Id">返回</a>
</div>
<!-- Modal -->
<div class="modal fade bs-example-modal-sm" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog ">
        <div class="modal-content">
            <div class="modal-header padding-8">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h5 class="modal-title" id="myModalLabel">通知</h5>
            </div>
            <h6 class="modal-body padding-5">
                
            </h6>
        </div>
    </div>
</div>
@section scripts{  
    <script>
        $("#data-submit").on("click", function () {
            if ($("#data-submit").hasClass("gary-color")) {
                $("#data-submit").removeClass("gary-color");
                if ($("#TrailCount").val() == "") {
                    $("#TrailCount").val(0);
                }
                var bool = true;
                var _num = (($("#TrailCount").val()) % 10);
                if (_num != 0 || _num < 0 || $("#TrailCount").val() == "") {
                    $(".modal-body").html("请输入合法试饮数!");
                    $('#myModal').modal('show')
                    setTimeout(function () {
                        $('#myModal').modal('hide')
                    }, 2000)
                    bool = false;
                    $("#data-submit").addClass("gary-color");
                } else {
                    $("input[type='tel']").each(function () {
                        if ($(this).val() < 0) {
                            $(".modal-body").html("请输入合法数据!");
                            $('#myModal').modal('show')
                            setTimeout(function () {
                                $('#myModal').modal('hide')
                            }, 2000)
                            bool = false;
                            $("#data-submit").addClass("gary-color");
                        }
                    })                    
                }
                if (bool) {
                    $("#add-form").ajaxSubmit(function () {
                        $(".modal-body").html("提交成功");
                        $('#myModal').modal('show')
                        setTimeout(function () {
                            $("#data-submit").addClass("gary-color");
                            $('#myModal').modal('hide')
                        }, 2000)
                        $("input[type='tel']").val("");
                    });
                }
            };
        });
    $.ajax({
        url: "/WeekendBreak/WeekendBreak_AddRecordPartial",
        data: {
            scheduleId: $("#ScheduleId").val()
        },
        success: function (data) {
            $(".partial").html(data)
            var aftersale_ = Number($("#after-sale").html());
            var aftertry_ = Number($("#after-try").html())
            $("input[type='tel']").each(function () {
                var _sum = Number($(this).parent().parent().parent().children(".sum-same").html());
                $(this).on("keyup", function () {
                    var _value = Number($(this).val());
                    $(this).parent().parent().parent().children(".sum-same").html(_sum + _value);
                    var inputsum = aftersale_
                    $(".sale-input").each(function () {
                        inputsum += Number($(this).val());
                        $("#after-sale").html(inputsum);
                    });
                });
            });
            $(".try-input").each(function () {
                var _sum = Number($(this).parent().parent().parent().children(".sum-same").html());
                $(this).on("keyup", function () {
                    var _value = Number($(this).val());
                    $(this).parent().parent().parent().children(".sum-same").html(_sum + _value);
                    var inputsum = aftertry_
                    $(".try-input").each(function () {
                        inputsum += Number($(this).val());
                        $("#after-try").html(inputsum);
                    });
                });
            });
            reduce("reducetry", "sum-try", "after-try", 10)
            add("addtry", "sum-try", "after-try", 10)
            add("add", "sum-sale", "after-sale", 1)
            reduce("reduce", "sum-sale", "after-sale", 1)
            function reduce(btnid, sumid, sumaterid,step) {
                $("." + btnid).each(function () {
                    $(this).on("click", function () {
                            beforesale = Number($("#" + sumaterid).html());                       
                        if (isNaN(beforesale)) {
                            alert("请刷新页面重新填写");
                        } else {
                            var _sum = Number($(this).parent().parent().parent().children("." + sumid).html());
                            var _value = Number($(this).parent().children("input").val());
                            var _step = Number(step);
                            if (_value > 0) {
                                _value -= _step;
                                _beforesale = beforesale - step;
                                _sum -= _step;
                                $("#" + sumaterid).html(_beforesale)
                                $(this).parent().parent().parent().children("." + sumid).html(_sum);
                                $(this).parent().children("input").val(_value);
                            }
                        }
                    })
                })
            }
            function add(btnid,sumid,sumaterid,step) {
                $("."+btnid).each(function () {
                    $(this).on("click", function () {
                            beforesale = Number($("#" + sumaterid).html());
                        if (isNaN(beforesale)) {
                            alert("请刷新页面重新填写")
                        } else {
                            var _sum = Number($(this).parent().parent().parent().children("." + sumid).html());
                            var _value = Number($(this).parent().children("input").val());
                            var _step = Number(step);
                            _value += _step;
                            _beforesale = beforesale + _step;
                            _sum += _step;
                            $(this).parent().parent().parent().children("." + sumid).html(_sum);
                            $("#" + sumaterid).html(_beforesale)
                            $(this).parent().children("input").val(_value);
                        }
                    })
                })
            }
        }
    })
</script>
    
    }

